<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>成员管理</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.13.2/theme-chalk/index.css">
	<style>
		.el-header {
			background-color: lightcyan;
			color: #333;
			line-height: 60px;
		}
	</style>
</head>

<body>
	<div id="app">
		<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelectFirst">

			<el-menu-item style="float: left;">
				<el-button type="text" onclick="location.href = 'courseDetail.html?id=' + yxt.getUrlParam('courseId')">
					<i class="el-icon-back"></i></el-button>
				<el-button type="primary" round><span v-text="course.cname">数据结构</span></el-button>
			</el-menu-item>


			<el-menu-item index="1" style="font-size: 20px;margin-left: 400px;">成员</el-menu-item>
			<el-menu-item index="2" style="font-size: 20px;">学生分组</el-menu-item>
			<el-menu-item index="3" style="font-size: 20px;">成绩管理</el-menu-item>

			<el-menu-item style="float: right;">
				<el-dropdown trigger="click">
					<span class="el-dropdown-link" style="font-size: 15px;">
						<i class="el-icon-suitcase"></i>工具
					</span>
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item>论文查重</el-dropdown-item>
						<el-dropdown-item>学术存证</el-dropdown-item>
						<el-dropdown-item>邀请教师</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>

				<el-popover placement="bottom" title="通知信息:" width="200" trigger="click" content="暂无通知">
					<el-button slot="reference" @click="open" type="text" icon="el-icon-bell"
						style="padding-inline: 10px;"></el-button>
				</el-popover>

				<el-avatar :src="user.avatar"></el-avatar>
			</el-menu-item>
		</el-menu>
		<div class="line"></div><br />
		<!-- 成员管理 -->
		<div v-show="activeIndex == '1'">
			<el-row :gutter="20">
				<el-col :span="6" :offset="2">
					<el-button type="primary">导入成员</el-button>
					</el-button>

					<el-link href="#" target="_blank" style="margin-inline: 10px;"><i class="el-icon-cloudy"></i>下载成员信息
					</el-link>

					<el-popover placement="right" width="400" trigger="click">
						<el-table :data="gridData" v-show="false">
							<el-table-column width="150" property="date" label="日期"></el-table-column>
							<el-table-column width="100" property="name" label="姓名"></el-table-column>
							<el-table-column width="300" property="address" label="地址"></el-table-column>
						</el-table>
						<el-button slot="reference" type="text" icon="el-icon-notebook-2">
							<span style="color: #000000;">成员退课记录</span>
						</el-button>
					</el-popover>
				</el-col>
			</el-row>

			<el-row>
				<el-col :offset="2" :span="20">
					<el-divider></el-divider>
				</el-col>
			</el-row>

			<el-row>
				<el-col :offset="2" :span="20">
					<el-container style="height: 800px; border: 1px solid #eee">
						<el-aside width="300px" style="background-color: white">
							<el-menu :default-active="index" @select="handleSelect">

								<el-menu-item index="1">
									<span slot="title" style="font-size: 20px;">教师团队</span>
								</el-menu-item>

								<el-menu-item index="2">
									<span slot="title" style="font-size: 20px;">全部学生</span>
								</el-menu-item>
							</el-menu>
						</el-aside>

						<el-container v-show="index == 1">
							<el-header style="font-size: 20px">
								<span>教师团队（1) </span>
								<span style="float: right;">
									<el-button type="primary" icon="el-icon-user">添加助教/老师</el-button>
								</span>
							</el-header>

							<el-main>
								<el-table :data="teacherData">
									<el-table-column label="头像" width="110">
										<template slot-scope="scope">
											<el-avatar :src="scope.row.avatar"></el-avatar>
										</template>
									</el-table-column>
									<el-table-column prop="realName" label="姓名" width="300">
									</el-table-column>
									<el-table-column prop="username" label="用户名" width="350">
									</el-table-column>
									<el-table-column fixed="right" label="操作" width="100">
										<template slot-scope="scope">

											<el-button type="text" icon="el-icon-chat-dot-round size"
												style="margin-right: 10px;"></el-button>

											<el-dropdown trigger="click">
												<span class="el-dropdown-link" style="font-size: 15px;">
													<i class="el-icon-more"></i>
												</span>
												<el-dropdown-menu slot="dropdown">
													<el-dropdown-item>私信</el-dropdown-item>
													<el-dropdown-item>删除</el-dropdown-item>
												</el-dropdown-menu>
											</el-dropdown>

											<!-- <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
							        <el-button type="text" size="small">编辑</el-button> -->
										</template>
									</el-table-column>
								</el-table>
							</el-main>
						</el-container>

						<el-container v-show="index == 2">
							<el-header style="font-size: 20px">
								<span>全部学生（{{pageData.pageTotal}}) </span>
								<span style="float: right;">
									<el-switch v-model="NoExitCourse" active-color="#13ce66" inactive-color="#ff4949"
										active-text="不允许退课">
									</el-switch>
								</span>
							</el-header>

							<el-main>
								<el-row>
									<el-col :span="6">
										<sapn style="margin-left: 10px;margin-right: 10px;">当前已选中 {{selectStudentConut}}
											人
										</sapn>
										<el-button type="primary">删除选中成员</el-button>
									</el-col>
									<el-col :span="6" style="float: right;">
										<el-input style="float: right;" placeholder="学号,姓名" suffix-icon="el-icon-search"
											v-model="pageData.search">
										</el-input>
									</el-col>
								</el-row>
								<div class="line"></div><br />
								<el-table :data="studentData" ref="multipleTable"
									@selection-change="handleSelectionChange">
									<el-table-column type="selection" width="50"></el-table-column>
									<el-table-column label="头像" width="100">
										<template slot-scope="scope">
											<el-avatar :src="scope.row.avatar"></el-avatar>
										</template>
									</el-table-column>
									<el-table-column prop="tsNo" label="学号" width="120">
									</el-table-column>
									<el-table-column prop="realName" label="姓名" width="105">
									</el-table-column>
									<el-table-column prop="username" label="用户名" width="120">
									</el-table-column>
									<el-table-column prop="clazz" label="班级" width="125">
									</el-table-column>
									<el-table-column prop="joinTime" label="加课日期" width="155">
									</el-table-column>
									<el-table-column fixed="right" label="操作" width="100">
										<template slot-scope="scope">

											<el-button type="text" icon="el-icon-chat-dot-round size"
												style="margin-right: 10px;"></el-button>

											<el-dropdown trigger="click">
												<span class="el-dropdown-link" style="font-size: 15px;">
													<i class="el-icon-more"></i>
												</span>
												<el-dropdown-menu slot="dropdown">
													<el-dropdown-item>私信</el-dropdown-item>
													<el-dropdown-item>删除</el-dropdown-item>
												</el-dropdown-menu>
											</el-dropdown>


											<!-- <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
					  						        <el-button type="text" size="small">编辑</el-button> -->
										</template>
									</el-table-column>
								</el-table>
								<el-pagination @size-change="pageSizeChange" @current-change="currentChange"
									:current-page="pageData.currentPage" :page-sizes="[5, 10, 15, 20]"
									:page-size="pageData.pageSize" layout="total, sizes, prev, pager, next, jumper"
									:total="pageData.pageTotal" style="margin-top: 10px"></el-pagination>
							</el-main>
						</el-container>


					</el-container>
				</el-col>
			</el-row>
		</div>

		<div v-show="activeIndex == '2'">
			<br />
			<el-row>
				<el-col :span="18" :offset="3">
					<div
						style="box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);height: 100px;padding: 20px;">

						<span style="padding: 10px;font-size: 10px;color: gold;">固定分组</span><br /><br />
						<strong style="padding: 10px; margin-right: 360px ;font-size: 20px;">课程固定分组</strong>
						<el-divider direction="vertical"></el-divider>
						<span style="padding: 10px; margin-left: 200px ;">0</span>
						<span style="padding: 10px; margin-left: 200px ;">0</span>
						<br /> <br />

						<span
							style="padding: 10px; margin-right: 128px ;font-size: 15px;color: grey;">*本分组主要应用于成绩统计，考勤等活动的默认分组</span>
						<el-divider direction="vertical"></el-divider>
						<span style="padding: 10px; margin-left: 190px ;">组数</span>
						<span style="padding: 10px; margin-left: 155px ;">未进组人数</span>
					</div><br /><br />
					<span style="float: left;">任务分组</span>
					<el-button style="float: right;" type="primary" icon="el-icon-plus">新建分组任务</el-button>
				</el-col>
			</el-row>
		</div>

		<div v-show="activeIndex == '3'">
			<br />
			<el-row>
				<el-col :span="18" :offset="3">
					<div style="box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); width: 100%;padding: 10px;height: 700px;">
						<div style="text-align: center;">
							<el-radio-group v-model="activeName" style="margin-top: 10px;">
								<el-radio-button label="1">总成绩</el-radio-button>
								<el-radio-button label="2">作业成绩</el-radio-button>
								<el-radio-button label="3">测试成绩</el-radio-button>
								<!-- <el-radio-button label="4">考勤统计</el-radio-button> -->
								<!-- <el-radio-button label="5">表现统计</el-radio-button> -->
								<!-- <el-radio-button label="6">平时成绩</el-radio-button> -->
								<el-radio-button label="7">期末成绩</el-radio-button>
							</el-radio-group>
						</div>
						<el-divider></el-divider>

						<el-container v-show="activeName == 4 ||activeName == 5||activeName == 6">
							<el-main>
								<div style="text-align: center;color: darkgrey;">
									暂无记录 ！

								</div>
							</el-main>
						</el-container>

						<!--总成绩-->
						<el-container v-show="activeName == 1">
							<el-main>
								<el-row>
									<el-col :span="6">
										<el-button icon="el-icon-setting" type="text" @click="dialogVisible = true">
											设置成绩权重</el-button>
										<el-dialog title="设置成绩权重" :visible.sync="dialogVisible" width="30%"
											:before-close="handleClose">
											期末成绩权重：<el-input v-model="finalWeight" placeholder="请输入内容"
												@blur="isNiceWeight"><template slot="append">%</template></el-input>
											作业成绩权重：<el-input v-model="hwWeight" placeholder="请输入内容"
												@blur="isNiceWeight"><template slot="append">%</template></el-input>
											平时成绩权重：<el-input v-model="UsualWeight" placeholder="请输入内容"
												@blur="isNiceWeight"><template slot="append">%</template></el-input>
											测试成绩权重：<el-input v-model="testWeight" placeholder="请输入内容"
												@blur="isNiceWeight"><template slot="append">%</template></el-input>
											<span style="color: red;">{{weightMsg}}</span>
											<span slot="footer" class="dialog-footer">
												<el-button @click="dialogVisible = false">取 消</el-button>
												<el-button type="primary" @click="dialogVisible = false"
													:disabled="weightMsg != ''">确 定</el-button>
											</span>
										</el-dialog>
									</el-col>
									<el-col :span="6" :offset="12">
										<el-input placeholder="学号,姓名" suffix-icon="el-icon-search" v-model="search5">
										</el-input>
									</el-col>
								</el-row>
								<el-table :data="totalScore" style="width: 100%" max-height="1000" stripe="true">
									<el-table-column fixed prop="sno,studentName" label="全部成员" width="200">
										<template slot-scope="scope">
											{{scope.row.sno}} &nbsp; <span
												style="font-weight: 500;color: black;">{{scope.row.studentName}}</span>
										</template>
									</el-table-column>
									<el-table-column prop="hw" label="作业" width="150">

									</el-table-column>
									<el-table-column prop="test" label="测试" width="150">

									</el-table-column>
									<el-table-column prop="usualScore" label="平时成绩" width="150">

									</el-table-column>
									<el-table-column prop="finalScore" label="期末成绩成绩" width="150">

									</el-table-column>
									<el-table-column prop="finalScore,test,usualScore,hw" label="最终成绩" width="150">
										<template slot-scope="scope">
											{{(scope.row.finalScore * finalWeight  +
											scope.row.test * testWeight  +
											scope.row.usualScore * UsualWeight +
											scope.row.hw * hwWeight) * 0.01.toFixed(2)}}
										</template>
									</el-table-column>
								</el-table>
							</el-main>
						</el-container>


						<!--作业成绩-->
						<el-container v-show="activeName == 2">
							<el-main>
								<el-row>
									<el-col :span="6" :offset="18">
										<el-input placeholder="学号,姓名" suffix-icon="el-icon-search" v-model="search2">
										</el-input>
									</el-col>
								</el-row>
								<el-table :data="computedHwScore" style="width: 100%" max-height="1000" stripe="true">
									<el-table-column fixed prop="tsNo, realName" label="全部成员" width="200"
										align="center">
										<template slot-scope="scope">
											{{scope.row.tsNo}} &nbsp; <span
												style="font-weight: 500;color: black;">{{scope.row.realName}}</span>
										</template>
									</el-table-column>
									<el-table-column prop="hw" :label="item.length > 5 ? item.substring(0, 5) + '...' : item" width="150" align="center"
										v-for="(item, index) in hwTitle" :key=index>
										<template slot-scope="scope">
											<span v-show="scope.row.hw[index].status === 0"
												style="color: red;">未交</span>
											<span
												v-show="scope.row.hw[index].status === 1">未批/{{scope.row.hw[index].totalScore}}</span>
											<span v-show="scope.row.hw[index].status === 2"
												style="font-weight: 1000;">{{scope.row.hw[index].score}}
												<span>&nbsp; /{{scope.row.hw[index].totalScore}}</span>
											</span>
										</template>
									</el-table-column>
								</el-table>
							</el-main>
						</el-container>

						<!--测试成绩-->
						<el-container v-show="activeName == 3">
							<el-main>
								<el-row>
									<el-col :span="6" :offset="18">
										<el-input placeholder="学号,姓名" suffix-icon="el-icon-search" v-model="search3">
										</el-input>
									</el-col>
								</el-row>
								<el-table :data="testScore" style="width: 100%" max-height="1000" stripe="true">
									<el-table-column fixed prop="sno,studentName" label="全部成员" width="200">
										<template slot-scope="scope">
											{{scope.row.sno}} &nbsp; <span
												style="font-weight: 500;color: black;">{{scope.row.studentName}}</span>
										</template>
									</el-table-column>
									<el-table-column prop="test" :label="item" width="150"
										v-for="(item,index) in testTitle" :key=index>
										<template slot-scope="scope">
											<span v-if="scope.row.test[index].status > 0"
												style="font-weight: 1000;">{{scope.row.test[index].score}}</span>
											<span v-else style="color: red;">未交</span>
											<span>&nbsp; /{{scope.row.test[index].totalScore}}</span>
										</template>
									</el-table-column>
								</el-table>
							</el-main>
						</el-container>


						<!--期末成绩-->
						<el-container v-show="activeName == 7">
							<el-main>
								<el-row>
									<el-col :span="6" :offset="18">
										<el-input placeholder="学号,姓名" suffix-icon="el-icon-search" v-model="search4">
										</el-input>
									</el-col>
								</el-row>
								<el-table :data="finalGradeData" style="width: 100%" max-height="1000" stripe="true">
									<el-table-column fixed prop="sno,studentName" label="全部成员" width="200">
										<template slot-scope="scope">
											{{scope.row.sno}} &nbsp; <span
												style="font-weight: 500;color: black;">{{scope.row.studentName}}</span>
										</template>
									</el-table-column>
									<el-table-column prop="finalGrade" label="期末成绩" width="150">
									</el-table-column>
								</el-table>
							</el-main>
						</el-container>
					</div>
				</el-col>
			</el-row>


		</div>

	</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.13.2/index.js"></script>
<script src="./js/common.js"></script>

<script>
	new Vue({
		el: '#app',
		data: {
			course: {
				cname: ''
			},
			user: {},
			activeIndex: '1',
			index: '1',
			activeName: '1',
			NoExitCourse: true,
			selectStudentConut: 0,
			search: '',
			teacherData: [
				{
					avator: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
					realName: 'qqweq',
					username: 'sasaf'
				}
			],
			studentData: [
				{
					avator: 'https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png',
					sno: '20145',
					realName: 'qqweq',
					username: 'sasaf',
					class: '12asda34',
					joinTime: '2as1d3a'
				},
				{
					avator: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
					sno: '2014asd5',
					realName: 'qqasdaweq',
					username: 'saasdsaf',
					class: '12asddsaaa34',
					joinTime: '2adsas1d3a'
				}
			],
			pageData: {
				currentPage: 1,
				pageSize: 5,
				pageTotal: 20,
				search: ""
			},
			temp: [],
			homeworkScoresData: {
				"1": [
					{ "id": 5, "tsNo": "20170390506", "realName": "Colin", title: "题目1", "score": null, "totalScore": 100, status: 1 },
					{ "id": 6, "tsNo": "20170390506", "realName": "Colin", title: "题目2", "score": null, "totalScore": 100, status: 1 },
					{ "id": 7, "tsNo": "20170390506", "realName": "Colin", title: "题目3", "score": null, "totalScore": 100, status: 1 }],
				"2": [
					{ "id": 5, "tsNo": "201703905xx", "realName": "Curtis", title: "题目1", "score": null, "totalScore": 100, status: 1 },
					{ "id": 6, "tsNo": "201703905xx", "realName": "Curtis", title: "题目2", "score": null, "totalScore": 100, status: 1 },
					{ "id": 7, "tsNo": "201703905xx", "realName": "Curtis", title: "题目3", "score": null, "totalScore": 100, status: 1 }],
			},
			//作业成绩模块数据
			search2: '',
			
			//测试成绩模块数据
			search3: '',
			testTitle: [],
			testScore: [{
				sno: '12370393456',
				studentName: '王小虎',
				test: [
					{
						title: '第一次测试',
						score: 96,
						totalScore: 100,
						status: 1
					}, {
						title: '第二次测试',
						score: 1,
						totalScore: 23,
						status: 0
					}
				]

			}, {
				sno: '20170390413',
				studentName: '王虎',
				test: [
					{
						title: '第一次测试',
						score: 1,
						totalScore: 23,
						status: 0
					}, {
						title: '第二次测试',
						score: 1,
						totalScore: 23,
						status: 0
					}
				]

			}],

			//期末成绩模块数据
			search4: '',
			finalGradeData: [{
				sno: '12370393456',
				studentName: '王小虎',
				finalGrade: 86
			}, {
				sno: '20170390413',
				studentName: '王虎',
				finalGrade: 92
			}],

			//总成绩模块数据
			//权重
			hwWeight: 10,
			testWeight: 10,
			UsualWeight: 10,
			finalWeight: 70,
			dialogVisible: false,
			weightMsg: '',
			search5: '', //搜索
			totalScore: [{
				sno: '12370393456',
				studentName: '王小虎',
				hw: 86,    //作业平均成绩
				test: 89,   //测试平均成绩
				usualScore: 12,   //平时成绩
				finalScore: 45    //期末成绩
			}, {
				sno: '20170390413',
				studentName: '王虎',
				hw: 86,
				test: 89,
				usualScore: 12,
				finalScore: 45
			}]

		},
		methods: {
			handleSelectFirst(key, keyPath) {
				if (key != null) {
					this.activeIndex = key;
				}
			},
			handleSelect(key, keyPath) {
				this.index = key;
				console.log(key);
			},
			handleClick(data) {
				alert(data.username)
			},
			handleSelectionChange(val) {
				this.selectStudentConut = val.length;
				console.log(val);
			},
			handleClick(tab, event) {
				console.log(tab, event);
			},
			pageSizeChange(pageSize) {
				this.pageData.pageSize = pageSize;
			},
			currentChange(clickPage) {
				this.pageData.currentPage = clickPage;
			},
			getCourseMemberData() {
				yxt.http
					.get(
						"/users/courseId/" +
						yxt.getUrlParam("courseId") +
						"/" +
						this.pageData.currentPage +
						"/" +
						this.pageData.pageSize +
						"?search=" +
						this.pageData.search
					)
					.then(({ data }) => {
						if (data.success) {
							this.studentData = data.queryResult.data;
							this.studentData.forEach(student => {
								student.joinTime = student.joinTime.substring(0, 11)
							})
							this.pageData.pageTotal = data.queryResult.total;
						}
					})
					.catch(() => {
						this.$message.error("服务器繁忙！")
					})
			},
			getCourseData() {
				yxt.http.get("/courses/info/id/" + yxt.getUrlParam("courseId")).then(({ data }) => {
					this.course = data.queryResult.data[0];
					let teacherArr = [];
					teacherArr.push(this.course.teacher);
					this.teacherData = teacherArr;
				})
			},
			verify() {
				yxt.http.get("/auth/verify/2").then(({ data }) => {
					if (data.success) {
						this.user = data.queryResult.data[0];
						this.getHomeworkScoresData();
					} else {
						location.href = "../index.html"
					}
				}).catch(() => {
					location.href = "../index.html";
				});
			},

			handleClose(done) {
				this.$confirm('确认关闭？')
					.then(_ => {
						done();
					})
					.catch(_ => { });
			},
			isNiceWeight() {
				var hwWeight = parseInt(this.hwWeight);
				var testWeight = parseInt(this.testWeight);
				var finalWeight = parseInt(this.finalWeight);
				var UsualWeight = parseInt(this.UsualWeight);
				if ((hwWeight + testWeight + finalWeight + UsualWeight) > 100) {
					this.weightMsg = "总权重超过100，请重新分配";
				} else if ((hwWeight + testWeight + finalWeight + UsualWeight) < 100) {
					this.weightMsg = "总权重小于100，请重新分配";
				} else {
					this.weightMsg = "";
				}
			},

			//测试成绩表标题数据初始化
			initTestTitle() {
				//将testScore里的作业标题title，赋值到testTitie ，前提是testScore已经更新了数据，所以更新testScore之后记得执行这段代码
				this.testTitle = this.temp;
				for (let i = 0; i < this.testScore[0].test.length; i++) {
					this.testTitle.push(this.testScore[0].test[i].title);
				}
				this.temp = [];
			},

			getHomeworkScoresData() {
				yxt.http.get("homework/scores/courseId/" + yxt.getUrlParam("courseId") + "/" + this.user.id).then(({data}) => {
					this.homeworkScoresData = data.queryResult.data[0]
				})
			}

		},
		created() {
			this.verify();
			this.getCourseMemberData();
			this.getCourseData();

			//testScore更新之后记得执行这个方法
			this.initTestTitle();

		},
		watch: {
			pageData: {
				deep: true,
				handler() {
					this.getCourseMemberData();
				}
			}
		},
		computed: {
			computedHwScore() {
				let returnVal = []
				for (let userId in this.homeworkScoresData) {
					let singleUserData = {
						tsNo: "",
						realName: "",
						hw: []
					}
					let singleUserHomeworkScore = this.homeworkScoresData[userId];
					for (let val of singleUserHomeworkScore) {
						let singleHomeworkData = {}
						for (let key in val) {
							if (key === 'realName' || key === 'tsNo') {
								singleUserData[key] = val[key];
							} else {
								singleHomeworkData[key] = val[key]
							}
						}
						singleUserData.hw.push(singleHomeworkData)
					}
					returnVal.push(singleUserData)
				}

				this.hwTitle = returnVal[0].hw.map(hw => hw.title)

				return returnVal;
			}
		},
	})
</script>

</html>