<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>成员管理</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.13.2/theme-chalk/index.css">
	<style>
		.el-header {
			background-color: lightcyan;
			color: #333;
			line-height: 60px;
		}
	</style>
</head>

<body>
	<div id="app">
		<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelectFirst">

			<el-menu-item style="float: left;">
				<el-button type="text" @click="location.href = 'courseDetail.html?id=' + course.id">
					<i class="el-icon-back"></i>
				</el-button>
				<el-button type="primary" round @click="location.href = 'courseDetail.html?id=' + course.id">
					<span v-text="course.cname">数据结构</span>
				</el-button>
			</el-menu-item>

			<el-menu-item index="1" style="font-size: 20px;margin-left: 550px;">成员管理</el-menu-item>
			<el-menu-item index="3" style="font-size: 20px;">成绩管理</el-menu-item>

			<el-menu-item style="float: right;">
				<el-dropdown trigger="click">
					<span class="el-dropdown-link" style="font-size: 15px;">
						<i class="el-icon-suitcase"></i>工具
					</span>
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item>论文查重</el-dropdown-item>
						<el-dropdown-item>学术存证</el-dropdown-item>
						<el-dropdown-item>邀请教师</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>

				<el-popover placement="bottom" title="通知信息:" width="200" trigger="click" content="暂无通知">
					<el-button slot="reference" type="text" icon="el-icon-bell" style="padding-inline: 10px;">
					</el-button>
				</el-popover>

				<el-avatar :src="user.avatar"></el-avatar>
			</el-menu-item>
		</el-menu>
		<div class="line"></div><br />
		<!-- 成员管理 -->
		<div v-show="activeIndex == '1'">
			<!-- <el-row :gutter="20">
				<el-col :span="6" :offset="2">
					<el-button type="primary">导入成员</el-button>
					</el-button>

					<el-link href="#" target="_blank" style="margin-inline: 10px;"><i class="el-icon-cloudy"></i>下载成员信息
					</el-link>

					<el-popover placement="right" width="400" trigger="click">
						<el-table :data="gridData" v-show="false">
							<el-table-column width="150" property="date" label="日期"></el-table-column>
							<el-table-column width="100" property="name" label="姓名"></el-table-column>
							<el-table-column width="300" property="address" label="地址"></el-table-column>
						</el-table>
						<el-button slot="reference" type="text" icon="el-icon-notebook-2">
							<span style="color: #000000;">成员退课记录</span>
						</el-button>
					</el-popover>
				</el-col>
			</el-row>

			<el-row>
				<el-col :offset="2" :span="20">
					<el-divider></el-divider>
				</el-col>
			</el-row> -->

			<br />
			<el-row>
				<el-col :offset="5" :span="15">
					<el-container style="height: 800px; border: 1px solid #eee">
						<el-aside width="300px" style="background-color: white">
							<el-menu :default-active="index" @select="handleSelect">

								<el-menu-item index="1">
									<span slot="title" style="font-size: 20px;">教师团队</span>
								</el-menu-item>

								<el-menu-item index="2">
									<span slot="title" style="font-size: 20px;">全部学生</span>
								</el-menu-item>
							</el-menu>
						</el-aside>

						<el-container v-show="index == 1">
							<el-header style="font-size: 20px;">
								<span>教师团队（1) </span>
								<!-- <span style="float: right;">
									<el-button type="primary" icon="el-icon-user">添加助教/老师</el-button>
								</span> -->
							</el-header>

							<el-main>
								<el-table :data="teacherData">
									<el-table-column label="头像" width="110">
										<template slot-scope="scope">
											<el-avatar :src="scope.row.avatar"></el-avatar>
										</template>
									</el-table-column>
									<el-table-column prop="realName" label="姓名" width="300">
									</el-table-column>
									<el-table-column prop="username" label="用户名" width="350">
									</el-table-column>
									<!-- <el-table-column fixed="right" label="操作" width="100">
										<template slot-scope="scope">

											<el-button type="text" icon="el-icon-chat-dot-round size"
												style="margin-right: 10px;"></el-button>

											<el-dropdown trigger="click">
												<span class="el-dropdown-link" style="font-size: 15px;">
													<i class="el-icon-more"></i>
												</span>
												<el-dropdown-menu slot="dropdown">
													<el-dropdown-item>私信</el-dropdown-item>
													<el-dropdown-item>删除</el-dropdown-item>
												</el-dropdown-menu>
											</el-dropdown>

											<el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
							        <el-button type="text" size="small">编辑</el-button>
										</template>
									</el-table-column> -->
								</el-table>
							</el-main>
						</el-container>

						<el-container v-show="index == 2">
							<el-header style="font-size: 20px">
								<span>全部学生（{{pageData.pageTotal}}) </span>
								<!-- <span style="float: right;">
									<el-switch v-model="NoExitCourse" active-color="#13ce66" inactive-color="#ff4949"
										active-text="不允许退课">
									</el-switch>
								</span> -->
							</el-header>

							<el-main>
								<el-row>
									<!-- <el-col :span="6">
										<sapn style="margin-left: 10px;margin-right: 10px;">当前已选中 {{selectStudentConut}}
											人
										</sapn>
										<el-button type="primary">删除选中成员</el-button>
									</el-col> -->
									<el-col :span="6" style="float: right;">
										<el-input style="float: right;" placeholder="学号,姓名" suffix-icon="el-icon-search"
											v-model="pageData.search">
										</el-input>
									</el-col>
								</el-row>
								<div class="line"></div><br />
								<el-table :data="studentData" ref="multipleTable"
									@selection-change="handleSelectionChange">
									<!-- <el-table-column type="selection" width="50"></el-table-column> -->
									<el-table-column label="头像" width="100">
										<template slot-scope="scope">
											<el-avatar :src="scope.row.avatar"></el-avatar>
										</template>
									</el-table-column>
									<el-table-column prop="tsNo" label="学号" width="120">
									</el-table-column>
									<el-table-column prop="realName" label="姓名" width="105">
									</el-table-column>
									<el-table-column prop="username" label="用户名" width="120">
									</el-table-column>
									<el-table-column prop="clazz" label="班级" width="125">
									</el-table-column>
									<el-table-column prop="joinTime" label="加课日期" width="155">
									</el-table-column>
									<!-- <el-table-column fixed="right" label="操作" width="100">
										<template slot-scope="scope">

											<el-button type="text" icon="el-icon-chat-dot-round size"
												style="margin-right: 10px;"></el-button>

											<el-dropdown trigger="click">
												<span class="el-dropdown-link" style="font-size: 15px;">
													<i class="el-icon-more"></i>
												</span>
												<el-dropdown-menu slot="dropdown">
													<el-dropdown-item>私信</el-dropdown-item>
													<el-dropdown-item>删除</el-dropdown-item>
												</el-dropdown-menu>
											</el-dropdown>

											<el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
					  						        <el-button type="text" size="small">编辑</el-button>
										</template>
									</el-table-column> -->
								</el-table>
								<el-pagination @size-change="pageSizeChange" @current-change="currentChange"
									:current-page="pageData.currentPage" :page-sizes="[5, 10, 15, 20]"
									:page-size="pageData.pageSize" layout="total, sizes, prev, pager, next, jumper"
									:total="pageData.pageTotal" style="margin-top: 10px"></el-pagination>
							</el-main>
						</el-container>
					</el-container>
				</el-col>
			</el-row>
		</div>

		<!-- <div v-show="activeIndex == '2'">
			<br />
			<el-row>
				<el-col :span="18" :offset="3">
					<div
						style="box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);height: 100px;padding: 20px;">

						<span style="padding: 10px;font-size: 10px;color: gold;">固定分组</span><br /><br />
						<strong style="padding: 10px; margin-right: 360px ;font-size: 20px;">课程固定分组</strong>
						<el-divider direction="vertical"></el-divider>
						<span style="padding: 10px; margin-left: 200px ;">0</span>
						<span style="padding: 10px; margin-left: 200px ;">0</span>
						<br /> <br />

						<span
							style="padding: 10px; margin-right: 128px ;font-size: 15px;color: grey;">*本分组主要应用于成绩统计，考勤等活动的默认分组</span>
						<el-divider direction="vertical"></el-divider>
						<span style="padding: 10px; margin-left: 190px ;">组数</span>
						<span style="padding: 10px; margin-left: 155px ;">未进组人数</span>
					</div><br /><br />
					<span style="float: left;">任务分组</span>
					<el-button style="float: right;" type="primary" icon="el-icon-plus">新建分组任务</el-button>
				</el-col>
			</el-row>
		</div> -->

		<!-- 成绩管理 -->
		<div v-show="activeIndex == '3'">
			<br />
			<el-row>
				<el-col :span="14" :offset="5">
					<div style="box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); width: 100%;padding: 10px;height: 700px;">
						<div style="text-align: center;">
							<el-radio-group v-model="activeName" style="margin-top: 10px;">
								<el-radio-button label="1">总成绩</el-radio-button>
								<el-radio-button label="2">作业成绩</el-radio-button>
								<el-radio-button label="3">测试成绩</el-radio-button>
								<!-- <el-radio-button label="4">考勤统计</el-radio-button> -->
								<!-- <el-radio-button label="5">表现统计</el-radio-button> -->
								<el-radio-button label="6">平时成绩</el-radio-button>
								<el-radio-button label="7">期末成绩</el-radio-button>
							</el-radio-group>
						</div>
						<el-divider></el-divider>

						<el-container v-show="activeName === 4 || activeName === 5">
							<el-main>
								<div style="text-align: center;color: darkgrey;">
									暂无记录 ！
								</div>
							</el-main>
						</el-container>

						<!--总成绩-->
						<el-container v-show="activeName == 1">
							<el-main>
								<el-row>
									<el-col :span="10">
										<el-button icon="el-icon-setting" type="primary" size="small" plain
											@click="dialogVisible = true">
											设置成绩权重</el-button>
										<el-dialog title="设置成绩权重" :visible.sync="dialogVisible" width="30%"
											:before-close="handleClose">
											期末成绩权重：<el-input v-model="finalWeight" placeholder="请输入内容"
												@blur="isNiceWeight"><template slot="append">%</template></el-input>
											作业成绩权重：<el-input v-model="hwWeight" placeholder="请输入内容"
												@blur="isNiceWeight"><template slot="append">%</template></el-input>
											平时成绩权重：<el-input v-model="usualWeight" placeholder="请输入内容"
												@blur="isNiceWeight"><template slot="append">%</template></el-input>
											测试成绩权重：<el-input v-model="examWeight" placeholder="请输入内容"
												@blur="isNiceWeight"><template slot="append">%</template></el-input>
											<span style="color: red;">{{weightMsg}}</span>
											<span slot="footer" class="dialog-footer">
												<el-button @click="dialogVisible = false">取 消</el-button>
												<el-button type="primary" @click="dialogVisible = false"
													:disabled="weightMsg != ''">确 定</el-button>
											</span>
										</el-dialog>
										<el-button type="danger" size="small" icon="el-icon-finished" plain
											:disabled="selectionButtonState" @click="outExcelDialogVisible = true">{{
											selectionButtonTitle }}</el-button>
										<el-dialog title="文件名和sheet不能为空" :visible.sync="outExcelDialogVisible">
											<div>
												<el-form ref="form" :model="form" label-width="100px">
													<el-form-item label="导出文件名">
														<el-input v-model="form.fileName"></el-input>
													</el-form-item>
													<el-form-item label="sheet名称">
														<el-input v-model="form.sheetName"></el-input>
													</el-form-item>
												</el-form>
											</div>
											<span slot="footer" class="dialog-footer">
												<el-button size="small" type="warning"
													@click="outExcelDialogVisible = false">取消
												</el-button>
												<el-button size="small" type="danger" :disabled="form.sheetName == ''"
													@click="outExcel()">确认导出</el-button>
											</span>
										</el-dialog>
									</el-col>
									<!-- <el-col :span="6" style="float: right;">
										<el-input placeholder="学号,姓名" style="width: 200px;" suffix-icon="el-icon-search" v-model="search5">
										</el-input>
									</el-col> -->
								</el-row>
								<el-table :data="studentCourseGradeData" @selection-change="selection"
									style="width: 100%" max-height="1000" stripe="true">
									<el-table-column type="selection" width="55"></el-table-column>
									<el-table-column fixed prop="sno, studentName" label="成员" width="200"
										align="center">
										<template slot-scope="scope">
											{{scope.row.sno}} &nbsp; <span
												style="font-weight: 500;color: black;">{{scope.row.studentName}}</span>
										</template>
									</el-table-column>
									<el-table-column prop="hwScore" label="作业成绩" width="150" align="center">
									</el-table-column>
									<el-table-column prop="examScore" label="测试成绩" width="150" align="center">
									</el-table-column>
									<el-table-column prop="usualScore" label="平时成绩" width="150" align="center">
									</el-table-column>
									<el-table-column prop="finalScore" label="期末成绩" width="150" align="center">
									</el-table-column>
									<el-table-column label="最终成绩" width="150" align="center">
										<template slot-scope="scope">
											{{(scope.row.finalScore * finalWeight * 0.01 +
											scope.row.examScore * examWeight * 0.01 +
											scope.row.usualScore * usualWeight * 0.01 +
											scope.row.hwScore * hwWeight * 0.01).toFixed(2)}}
										</template>
									</el-table-column>
								</el-table>
							</el-main>
						</el-container>

						<!--作业成绩-->
						<el-container v-show="activeName == 2">
							<el-main>
								<!-- <el-row>
									<el-col :span="6" :offset="18">
										<el-input placeholder="学号,姓名" suffix-icon="el-icon-search" v-model="search2">
										</el-input>
									</el-col>
								</el-row> -->
								<el-table :data="computedHwScore" style="width: 100%" max-height="1000" stripe="true">
									<el-table-column fixed prop="tsNo, realName" label="成员" width="200" align="center">
										<template slot-scope="scope">
											{{scope.row.tsNo}} &nbsp; <span
												style="font-weight: 500;color: black;">{{scope.row.realName}}</span>
										</template>
									</el-table-column>
									<el-table-column prop="hw"
										:label="item.length > 8 ? item.substring(0, 8) + '...' : item" width="150"
										align="center" v-for="(item, index) in hwTitle" :key=index>
										<template slot-scope="scope">
											<span v-show="scope.row.hw[index].status === 0"
												style="color: red;">未交</span>
											<span
												v-show="scope.row.hw[index].status === 1">未批/{{scope.row.hw[index].totalScore}}</span>
											<span v-show="scope.row.hw[index].status === 2"
												style="font-weight: 1000;">{{scope.row.hw[index].score}}
												<span>/{{scope.row.hw[index].totalScore}}</span>
											</span>
										</template>
									</el-table-column>
								</el-table>
							</el-main>
						</el-container>

						<!--测试成绩-->
						<el-container v-show="activeName == 3">
							<el-main>
								<!-- <el-row>
									<el-col :span="6" :offset="18">
										<el-input placeholder="学号,姓名" suffix-icon="el-icon-search" v-model="search3">
										</el-input>
									</el-col>
								</el-row> -->
								<el-table :data="examStudentScoresData" style="width: 100%" max-height="1000"
									stripe="true">
									<el-table-column fixed prop="tsNo, realName" label="成员" width="200" align="center">
										<template slot-scope="scope">
											{{scope.row.tsNo}} &nbsp; <span
												style="font-weight: 500;color: black;">{{scope.row.realName}}</span>
										</template>
									</el-table-column>
									<el-table-column prop="examStudentRespList"
										:label="item.length > 8 ? item.substring(0, 8) + '...' : item" width="150"
										align="center" v-for="(item, index) in examTitle" :key="index">
										<template slot-scope="scope">
											<span v-if="scope.row.examStudentRespList[index].status === 0"
												style="color: red;">未交</span>
											<span
												v-if="scope.row.examStudentRespList[index].status === 1">未批/{{scope.row.examStudentRespList[index].totalScore}}</span>
											<span v-if="scope.row.examStudentRespList[index].status === 2"
												style="font-weight: 1000;">{{scope.row.examStudentRespList[index].studentScore}}
												<span>/{{scope.row.examStudentRespList[index].totalScore}}</span>
											</span>
										</template>
									</el-table-column>
								</el-table>
							</el-main>
						</el-container>

						<!--平时成绩-->
						<el-container v-show="activeName == 6">
							<el-main>
								<!-- <el-row>
									<el-col :span="6" :offset="18">
										<el-input placeholder="学号,姓名" suffix-icon="el-icon-search" v-model="search4">
										</el-input>
									</el-col>
								</el-row> -->
								<el-table :data="courseStudentData" style="width: 100%" max-height="1000" stripe="true">
									<el-table-column fixed prop="tsNo, realName" label="成员" width="200" align="center">
										<template slot-scope="scope">
											{{scope.row.tsNo}} &nbsp; <span
												style="font-weight: 500;color: black;">{{scope.row.realName}}</span>
										</template>
									</el-table-column>
									<el-table-column prop="usualScore" label="平时成绩" width="120" align="center">
										<template slot-scope="scope">
											{{scope.row.usualScore === null ? '暂无' : scope.row.usualScore}}
										</template>
									</el-table-column>
									<el-table-column label="操作" width="120" align="center">
										<template slot-scope="scope">
											<el-button size="mini" type="success" icon="el-icon-edit"
												@click="showEditScoreForm(scope.row.studentId, scope.row.usualScore)">
											</el-button>
										</template>
									</el-table-column>
								</el-table>

								<!-- 编辑学生平时成绩表单 -->
								<el-dialog title="修改学生平时成绩" :visible.sync="editScoreFormVisible" width="30%" center
									destroy-on-close @close="editScoreForm = {}">
									<el-form style="margin: 20px 0;" :model="editScoreForm" ref="editScoreForm"
										label-width="90px" class="demo-ruleForm">
										<el-form-item label="平时成绩" prop="score" :rules="[
											{ required: true, message: '分数不能为空', trigger: 'blur'},
											{ type: 'number', message: '分数必须为数字值', trigger: 'blur'}
										]">
											<el-input-number v-model="editScoreForm.studentScore" :min="0"
												:max="editScoreForm.questionScore">
											</el-input-number>
										</el-form-item>
									</el-form>
									<div slot="footer">
										<el-button @click="editScoreFormVisible = false">取 消</el-button>
										<el-button type="primary" @click="editScore()">确 定</el-button>
									</div>
								</el-dialog>
							</el-main>
						</el-container>

						<!--期末成绩-->
						<el-container v-show="activeName == 7">
							<el-main>
								<!-- <el-row>
									<el-col :span="6" :offset="18">
										<el-input placeholder="学号,姓名" suffix-icon="el-icon-search" v-model="search4">
										</el-input>
									</el-col>
								</el-row> -->
								<el-table :data="examStudentScoresData" style="width: 100%" max-height="1000"
									stripe="true">
									<el-table-column fixed prop="tsNo, realName" label="成员" width="200" align="center">
										<template slot-scope="scope">
											{{scope.row.tsNo}} &nbsp; <span
												style="font-weight: 500;color: black;">{{scope.row.realName}}</span>
										</template>
									</el-table-column>
									<el-table-column prop="finalExamStudentRespList"
										:label="item.length > 35 ? item.substring(0, 35) + '...' : item" width="150"
										align="center" v-for="(item, index) in finalExamTitle" :key="index">
										<template slot-scope="scope">
											<span v-if="scope.row.finalExamStudentRespList[index].status === 0"
												style="color: red;">未交</span>
											<span
												v-if="scope.row.finalExamStudentRespList[index].status === 1">未批/{{scope.row.finalExamStudentRespList[index].totalScore}}</span>
											<span v-if="scope.row.finalExamStudentRespList[index].status === 2"
												style="font-weight: 1000;">{{scope.row.finalExamStudentRespList[index].studentScore}}
												<span>/{{scope.row.finalExamStudentRespList[index].totalScore}}</span>
											</span>
										</template>
									</el-table-column>
								</el-table>
							</el-main>
						</el-container>
					</div>
				</el-col>
			</el-row>


		</div>

	</div>
</body>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.13.2/index.js"></script>
<script src="./js/common.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/xlsx@0.16.9/dist/xlsx.full.min.js"></script>

<script>
	new Vue({
		el: '#app',
		data: {
			course: {
				cname: ''
			},
			user: {},
			activeIndex: '1',
			index: '1',
			activeName: '1',
			NoExitCourse: true,
			selectStudentConut: 0,
			search: '',
			teacherData: [],
			studentData: [],
			pageData: {
				currentPage: 1,
				pageSize: 5,
				pageTotal: 20,
				search: ""
			},
			temp: [],
			homeworkScoresData: {
				"1": [
					{ "id": 5, "tsNo": "20170390506", "realName": "Colin", title: "题目1", "score": null, "totalScore": 100, status: 1 },
					{ "id": 6, "tsNo": "20170390506", "realName": "Colin", title: "题目2", "score": null, "totalScore": 100, status: 1 },
					{ "id": 7, "tsNo": "20170390506", "realName": "Colin", title: "题目3", "score": null, "totalScore": 100, status: 1 }],
				"2": [
					{ "id": 5, "tsNo": "201703905xx", "realName": "Curtis", title: "题目1", "score": null, "totalScore": 100, status: 1 },
					{ "id": 6, "tsNo": "201703905xx", "realName": "Curtis", title: "题目2", "score": null, "totalScore": 100, status: 1 },
					{ "id": 7, "tsNo": "201703905xx", "realName": "Curtis", title: "题目3", "score": null, "totalScore": 100, status: 1 }],
			},
			//作业成绩模块数据
			search2: '',

			//测试成绩模块数据
			search3: '',
			examStudentScoresData: [{ examStudentRespList: [], finalExamStudentRespList: [] }],
			examTitle: [],
			finalExamTitle: [],

			// 平时成绩模块数据
			courseStudentData: [],
			editScoreForm: {},
			editScoreFormVisible: false,

			//期末成绩模块数据
			search4: '',
			finalGradeData: [{
				sno: '12370393456',
				studentName: '王小虎',
				finalGrade: 86
			}, {
				sno: '20170390413',
				studentName: '王虎',
				finalGrade: 92
			}],

			//总成绩模块数据
			//权重
			hwWeight: 10,
			examWeight: 10,
			usualWeight: 10,
			finalWeight: 70,
			dialogVisible: false,
			weightMsg: '',
			search5: '', //搜索
			studentCourseGradeData: [{
				sno: '12370393456',
				studentName: '王小虎',
				hwScore: 86,    //作业平均成绩
				examScore: 89,   //测试平均成绩
				usualScore: 12,   //平时成绩
				finalScore: 45    //期末成绩
			}, {
				sno: '20170390413',
				studentName: '王虎',
				hwScore: 86,
				examScore: 89,
				usualScore: 12,
				finalScore: 45
			}],
			selectionButtonTitle: "未选择数据",
			selectionButtonState: true,
			selectionData: [],
			outExcelDialogVisible: false,
			form: {
				fileName: "成绩表",
				sheetName: "1班",
			},
		},
		methods: {
			handleSelectFirst(key, keyPath) {
				if (key != null) {
					this.activeIndex = key;
				}
			},
			handleSelect(key, keyPath) {
				this.index = key;
				console.log(key);
			},
			handleClick(data) {
				alert(data.username)
			},
			handleSelectionChange(val) {
				this.selectStudentConut = val.length;
				console.log(val);
			},
			handleClick(tab, event) {
				console.log(tab, event);
			},
			pageSizeChange(pageSize) {
				this.pageData.pageSize = pageSize;
			},
			currentChange(clickPage) {
				this.pageData.currentPage = clickPage;
			},
			getCourseMemberData() {
				yxt.http
					.get(
						"/users/courseId/" +
						yxt.getUrlParam("courseId") +
						"/" +
						this.pageData.currentPage +
						"/" +
						this.pageData.pageSize +
						"?search=" +
						this.pageData.search
					)
					.then(({ data }) => {
						if (data.success) {
							this.studentData = data.queryResult.data;
							this.studentData.forEach(student => {
								student.joinTime = student.joinTime.substring(0, 11)
							})
							this.pageData.pageTotal = data.queryResult.total;
						}
					})
					.catch(() => {
						this.$message.error("服务器繁忙！")
					})
			},
			getCourseData() {
				yxt.http.get("/courses/info/id/" + yxt.getUrlParam("courseId")).then(({ data }) => {
					this.course = data.queryResult.data[0];
					let teacherArr = [];
					teacherArr.push(this.course.teacher);
					this.teacherData = teacherArr;
				})
			},
			verify() {
				yxt.http.get("/auth/verify/2").then(({ data }) => {
					if (data.success) {
						this.user = data.queryResult.data[0];
						this.getHomeworkScoresData();
						this.getExamScoresData();
					} else {
						location.href = "../index.html"
					}
				}).catch(() => {
					location.href = "../index.html";
				});
			},

			handleClose(done) {
				this.$confirm('确认关闭？')
					.then(_ => {
						done();
					})
					.catch(_ => { });
			},
			isNiceWeight() {
				var hwWeight = parseInt(this.hwWeight);
				var examWeight = parseInt(this.examWeight);
				var finalWeight = parseInt(this.finalWeight);
				var usualWeight = parseInt(this.usualWeight);
				if ((hwWeight + examWeight + finalWeight + usualWeight) > 100) {
					this.weightMsg = "总权重超过100，请重新分配";
				} else if ((hwWeight + examWeight + finalWeight + usualWeight) < 100) {
					this.weightMsg = "总权重小于100，请重新分配";
				} else {
					this.weightMsg = "";
				}
			},

			getHomeworkScoresData() {
				yxt.http.get("homework/scores/courseId/" + yxt.getUrlParam("courseId") + "/" + this.user.id).then(({ data }) => {
					if (data.success) {
						if (data.queryResult.data.length > 0) {
							this.homeworkScoresData = data.queryResult.data[0]
						}
					}
				})
			},

			getExamScoresData() {
				yxt.http.get("exam/examStudentScores/courseId/" + yxt.getUrlParam("courseId")
					+ "/teacherId/" + this.user.id)
					.then(({ data }) => {
						if (data.success) {
							if (data.queryResult.data.length > 0) {
								this.examStudentScoresData = data.queryResult.data;
								this.examTitle = this.examStudentScoresData[0].examStudentRespList.filter(examStudentResp => !examStudentResp.finalExam).map(examStudentResp => examStudentResp.title);
								for (let i = 0; i < this.examStudentScoresData.length; i++) {
									this.examStudentScoresData[i].finalExamStudentRespList =
										this.examStudentScoresData[i].examStudentRespList.filter(resp => resp.finalExam)
								}
								this.finalExamTitle = this.examStudentScoresData[0].examStudentRespList.filter(examStudentResp => examStudentResp.finalExam).map(examStudentResp => examStudentResp.title);
							}
						}
					})
			},

			getCourseStudentData() {
				yxt.http.get("courses/studentCourse/courseId/" + yxt.getUrlParam("courseId"))
					.then(({ data }) => {
						if (data.success) {
							this.courseStudentData = data.queryResult.data;
						}
					})
			},

			showEditScoreForm(studentId, studentScore) {
				this.editScoreFormVisible = true;
				this.editScoreForm.studentId = studentId;
				this.editScoreForm.studentScore = studentScore;
				this.editScoreForm.courseId = yxt.getUrlParam("courseId");
			},

			editScore() {
				yxt.http.put("courses/studentCourse/usualScore", this.editScoreForm).then(({ data }) => {
					if (data.success) {
						this.$message.success(data.message);
						this.editScoreForm = {};
						this.editScoreFormVisible = false;
						this.getCourseStudentData();
					} else {
						this.$message.error(data.message);
					}
				}).catch(() => {
					this.$message.error("服务器繁忙，请稍候再试！")
				})
			},

			getStudentCourseGradeData() {
				yxt.http.get("courses/studentCourseScore/courseId/" + yxt.getUrlParam("courseId"))
					.then(({ data }) => {
						if (data.success) {
							this.studentCourseGradeData = data.queryResult.data;
						}
					})
			},

			selection(selectData) {
				if (
					selectData.length > 0 &&
					this.studentCourseGradeData.length != selectData.length
				) {
					this.selectionButtonTitle = "导出已选择" + selectData.length;
					this.selectionButtonState = false;
					this.selectionData = selectData;
				} else if (this.studentCourseGradeData.length == selectData.length) {
					this.selectionButtonTitle = "导出全选";
					this.selectionButtonState = false;
					this.selectionData = selectData;
				} else {
					this.selectionButtonTitle = "未选择数据";
					this.selectionButtonState = true;
				}
			},

			outExcel() {
				// 自定义表格表头
				let tableData = [
					[
						"成员",
						"作业成绩",
						"测试成绩",
						"平时成绩",
						"期末成绩",
						"最终成绩",
					],
				];
				// 每行对应的数据
				this.studentCourseGradeData.forEach((item) => {
					let rowData = [];
					rowData = [
						item.sno + " " + item.studentName,
						item.hwScore,
						item.examScore,
						item.usualScore,
						item.finalScore,
						(item.finalScore * this.finalWeight * 0.01 +
							item.examScore * this.examWeight * 0.01 +
							item.usualScore * this.usualWeight * 0.01 +
							item.hwScore * this.hwWeight * 0.01).toFixed(2)
					];
					tableData.push(rowData);
				});
				let ws = XLSX.utils.aoa_to_sheet(tableData);
				// 设置每一列的宽度
				ws["!cols"] = [
					{ wch: 25 },
					{ wch: 10 },
					{ wch: 10 },
					{ wch: 10 },
					{ wch: 10 },
					{ wch: 10 }
				];
				let wb = XLSX.utils.book_new();
				XLSX.utils.book_append_sheet(wb, ws, this.form.sheetName); // 工作簿名称
				XLSX.writeFile(wb, this.form.fileName + ".xlsx"); // 保存的文件名
				this.$message.success("已导出选中数据成功，请您查看下载的excel");
				this.outExcelDialogVisible = false;
			}

		},
		created() {
			this.verify();
			this.getCourseMemberData();
			this.getCourseData();
			this.getCourseStudentData();
			this.getStudentCourseGradeData();
			yxt.viewCount();
		},
		watch: {
			pageData: {
				deep: true,
				handler() {
					this.getCourseMemberData();
				}
			}
		},
		computed: {
			computedHwScore() {
				let returnVal = []
				for (let userId in this.homeworkScoresData) {
					let singleUserData = {
						tsNo: "",
						realName: "",
						hw: []
					}
					let singleUserHomeworkScore = this.homeworkScoresData[userId];
					for (let val of singleUserHomeworkScore) {
						let singleHomeworkData = {}
						for (let key in val) {
							if (key === 'realName' || key === 'tsNo') {
								singleUserData[key] = val[key];
							} else {
								singleHomeworkData[key] = val[key]
							}
						}
						singleUserData.hw.push(singleHomeworkData)
					}
					returnVal.push(singleUserData)
				}

				this.hwTitle = returnVal.length > 0
					? returnVal[0].hw.map(hw => hw.title)
					: ""
				return returnVal;
			}
		},
	})
</script>

</html>