<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.13.2/theme-chalk/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/yxt.css">
    <style>
        .el-main {
            padding: 20px;
        }

        .el-card__header {
            padding: 0;
            border-bottom: 1px solid #EBEEF5;
            box-sizing: border-box;
        }

        .el-card__body {
            padding: 0;
        }
    </style>
    <title>益学堂-简单好用的互动课堂管理工具</title>
</head>

<body>
    <div id="app">
        <el-container>
            <!-- 头部 -->
            <el-header>
                <!-- 导航栏：logo、菜单功能、头像下拉菜单 -->
                <el-row>
                    <!-- logo -->
                    <el-col :span="4">
                        <!-- <el-image style="margin-top: 10px;" src="./images/logo_blue.png" fit="contain"></el-image> -->
                        <el-image>
                            <div slot="error" class="image-slot">
                                <div class="header-logo">LOGO</div>
                                <!-- <el-image src="./images/logo.png" style="width: 192px; height: 48px; margin: 10px;">
                                </el-image> -->
                            </div>
                        </el-image>
                    </el-col>
                    <!-- 菜单功能 -->
                    <el-col :span="16">
                        <el-menu mode="horizontal" @select="handleSelect">
                            <el-menu-item index="1" class="header-text" @click="location.href = './homePage.html'">课堂
                            </el-menu-item>
                            <!-- <el-menu-item index="2" class="header-text">精品课程</el-menu-item>
                            <el-menu-item index="3" class="header-text">本校课程</el-menu-item>
                            <el-menu-item index="4" class="header-text">我的精品</el-menu-item> -->
                        </el-menu>
                    </el-col>
                    <!-- 消息提醒 -->
                    <el-col :span="1.5">
                        <el-menu class="el-menu-demo" mode="horizontal">
                            <el-submenu>
                                <template slot="title">
                                    <i class="el-icon-bell"></i>
                                    <el-badge v-show="totalUnreadCount != 0" :value="totalUnreadCount" :max="10"
                                        class="item">
                                </template>
                                <el-menu-item @click="location.href = 'user/message.html' "><i
                                        class="el-icon-message-solid"></i> 系统通知 <el-badge
                                        v-if="unreadMessageCount.systemMessageCount != 0"
                                        :value="unreadMessageCount.systemMessageCount" class="item">
                                </el-menu-item>
                                <el-menu-item @click="location.href = 'user/message.html' "><i
                                        class="el-icon-notebook-2"></i> 课程相关 <el-badge
                                        v-if="unreadMessageCount.courseMessageCount != 0"
                                        :value="unreadMessageCount.courseMessageCount" class="item">
                                </el-menu-item>
                                <el-menu-item @click="location.href = 'user/message.html' "><i
                                        class="fa fa-mail-forward" style="margin-left: 6px; margin-right: 10px;"></i>
                                    回复我的 <el-badge v-if="unreadMessageCount.replyMessageCount != 0"
                                        :value="unreadMessageCount.replyMessageCount" class="item">
                                </el-menu-item>
                                <el-menu-item @click="location.href = 'user/message.html' "><i class="fa fa-thumbs-o-up"
                                        style="margin-left: 6px; margin-right: 12px;"></i> 收到的赞 <el-badge
                                        v-if="unreadMessageCount.voteUpMessageCount != 0"
                                        :value="unreadMessageCount.voteUpMessageCount" class="item">
                                </el-menu-item>
                                <el-menu-item @click="location.href = 'user/message.html' "><i
                                        class="el-icon-chat-dot-round"></i> 我的私信 <el-badge
                                        v-if="unreadMessageCount.chatMessageCount != 0"
                                        :value="unreadMessageCount.chatMessageCount" class="item">
                                </el-menu-item>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                    <!-- 头像下拉菜单 -->
                    <el-col :span="2.5">
                        <el-menu class="el-menu-demo" mode="horizontal">
                            <el-submenu>
                                <template slot="title">
                                    <span v-text="user.username" style="color: black; margin: 20px 10px;">用户名</span>
                                    <el-avatar size="large" :src="user.avatar">
                                    </el-avatar>
                                </template>
                                <el-menu-item @click="location.href = 'user/setting.html' "><i
                                        class="el-icon-setting"></i> 个人设置</el-menu-item>
                                <el-menu-item @click="location.href = 'user/message.html' "><i
                                        class="el-icon-position"></i> 消息中心</el-menu-item>
                                <el-menu-item @click="logout()"><i class="fa fa-sign-out"
                                        style="margin-left: 6px; margin-right: 9px;"></i>
                                    <span>退出账户</span>
                                </el-menu-item>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-header>
            <!-- 中间 -->
            <el-main style="margin-top: 40px">
                <!-- 外边框 -->
                <div style="border: 1px solid #c8c8c8;width: 1020px;margin: auto">
                    <!-- 作业头部 -->
                    <div style="border-bottom: 1px solid #c8c8c8;width: 960px;height: 80px;padding: 30px">
                        <h2 style="text-align: left;margin: 0px 0px 25px 0px" v-text="homework.title">范例_第一次作业</h2>
                        <div>
                            <div style="float: left;text-align: left;background-color: #f2f2f2">
                                <div style="padding: 5px 20px 5px 20px">截止至
                                    <span v-text="homework.deadline">2020-11-07 22:17</span>
                                </div>
                            </div>
                            <div style="float: right">
                                <el-input v-model="pageData.search" suffix-icon="el-icon-search" placeholder="学号，姓名">
                                </el-input>
                            </div>
                        </div>
                    </div>
                    <!-- 作业列表 -->
                    <div style="border: 1px  #c8c8c8;width: 960px;height: auto; padding: 30px">
                        <el-table ref="multipleTable" :data="homeworkStudentList" tooltip-effect="dark"
                            style="width: 100%" :cell-style="nameStyle" style="height: auto;"
                            :default-sort="{prop: 'tsNo', order: 'ascending'}">
                            <el-table-column prop="tsNo" label="学号" sortable width="160">
                            </el-table-column>
                            <el-table-column prop="realName" label="姓名" sortable width="160">
                            </el-table-column>
                            <el-table-column prop="score" :formatter="formatScore" label="成绩" sortable width="120">
                            </el-table-column>
                            <el-table-column label="提交日期" prop="homeworkStudent.submitTime" align="center" sortable
                                width="160" :formatter="formatSubmitTime">
                            </el-table-column>
                            <el-table-column prop="homeworkStudent.correctCount" label="批阅次数" align="center"
                                :formatter="formatCorrectCount" sortable show-overflow-tooltip>
                            </el-table-column>
                            <el-table-column width="120">
                                <el-link type="primary" slot-scope="scope" v-if="scope.row.homeworkStudent.status===0">
                                    催交
                                </el-link>
                                <el-link type="primary" v-else @click="showPreviewHomeworkList(scope.row)">
                                    批阅</el-link>
                            </el-table-column>
                        </el-table>
                        <el-row>
                            <el-pagination @size-change="pageSizeChange" @current-change="currentChange"
                                :current-page="pageData.currentPage" :page-sizes="[5, 10, 15, 20]"
                                :page-size="pageData.pageSize" layout="total, sizes, prev, pager, next, jumper"
                                :total="pageData.pageTotal" style="float: left; margin-top: 25px"></el-pagination>
                        </el-row>
                    </div>
                </div>
            </el-main>
            <el-dialog :title="'批阅 ' + previewingStudentName + ' 的作业'" :visible.sync="previewHomeworkVisible"
                destroy-on-close>
                <el-container>
                    <el-card class="box-card" id="homework-resources-card" shadow="never"
                        style="margin-top: 10px;width: 850px;height: auto; border-radius: 6px;border-width: 2px;padding: 0;">
                        <el-header style="background-color:#F1F3F4; width: 850px; height: 42px; line-height: 20px;">
                            <span style="float: left;">
                                <el-button type="text" v-text="previewingStudentName + ' 提交的作业'">提交的作业</el-button>
                            </span>
                        </el-header>
                        <!-- 提交的作业列表 -->
                        <el-main>
                            <el-row type="flex" justify="space-start" :gutter="5" style="margin: 10px;">
                                <el-col :span="3" style="margin-right: 25px;"
                                    @mouseover.native="showDownloadResourceId = resource.id"
                                    @mouseout.native="showDownloadResourceId = -1"
                                    v-for="(resource, innerindex) in homeworkList" :key="resource.id">
                                    <el-row>
                                        <el-button style="height: 110px; width: 95px; padding: 12px 0;"
                                            @click="previewResourceData(resource.id, resource.type, resource.name)">
                                            <el-row style="margin-bottom: 15px;">
                                                <img :src="getResourceSrc(resource.ext)" alt="" srcset=""
                                                    style="height: 36px; width: 36px;">
                                            </el-row>
                                            <el-row>
                                                <el-tooltip :content="resource.name" placement="bottom" effect="light">
                                                    <span style="font-size: 6px;"
                                                        v-text="resource.name.length > 6 ? resource.name.substring(0, 6) + '...': resource.name">实验</span>
                                                </el-tooltip>
                                            </el-row>
                                        </el-button>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="8" :push="8">
                                            <el-button type="text" size="small"
                                                @click="postDownloadRequestToServer(resource.id)">
                                                <span
                                                    v-show="resource.type === 1 && resource.id === showDownloadResourceId">下载</span>
                                            </el-button>
                                        </el-col>
                                    </el-row>
                                </el-col>
                            </el-row>
                        </el-main>

                        <el-divider></el-divider>

                        <el-form style="margin: 20px 0;" :model="homeworkScoreForm" ref="homeworkScoreForm"
                            label-width="60px" class="demo-ruleForm">
                            <el-form-item label="评分" prop="score" :rules="[
                                { required: true, message: '分数不能为空'},
                                { type: 'number', message: '分数必须为数字值'}
                              ]">
                                <el-input-number v-model="homeworkScoreForm.score" :min="0" :max="homework.totalScore">
                                </el-input-number>
                            </el-form-item>
                            <el-form-item label="批语" prop="message">
                                <el-input type="textarea" style="width: 200px; height: 50px;"
                                    v-model="homeworkScoreForm.message"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="submitForm('homeworkScoreForm')">确定</el-button>
                                <el-button @click="clear()">取消</el-button>
                            </el-form-item>
                        </el-form>
                    </el-card>
                </el-container>
            </el-dialog>
            <br><br><br><br><br><br><br><br>
            <!-- 底部 -->
            <el-footer>
                <el-row type="flex" justify="center">
                    <el-col :span="8"></el-col>
                    <el-col :span="8" push="1">
                        <el-menu mode="horizontal">
                            <el-menu-item>关于我们</el-menu-item>
                            <el-menu-item>联系我们</el-menu-item>
                            <el-menu-item>服务条款</el-menu-item>
                            <el-menu-item>浏览器下载</el-menu-item>
                            <el-menu-item>更新动态</el-menu-item>
                        </el-menu>
                    </el-col>
                    <el-col :span="8"></el-col>
                </el-row>
                <span class="foot-text">Copyright © 2020 yixuetang.com All Rights Reserved. </span>
            </el-footer>
        </el-container>
    </div>
</body>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.13.2/index.js"></script>
<script src="./js/common.js"></script>
<script src="./js/md5.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            user: {
                id: -1
            },
            homeworkStudentList: [],
            pageData: {
                currentPage: 1,
                pageSize: 10,
                pageTotal: 4,
                search: ""
            },
            homework: {},
            homeworkList: [],
            previewHomeworkVisible: false,
            previewingStudentName: "",
            previewingStudentId: -1,
            showDownloadResourceId: -1,
            homeworkScoreForm: {},
            unreadMessageCount: {},
            websocket: {}
        },
        methods: {
            nameStyle(column) {
                if (column.columnIndex === 2) {
                    return "font-weight: bold";
                }
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            verify() {
                yxt.http.get("/auth/verify/2").then(({ data }) => {
                    if (data.success) {
                        this.user = data.queryResult.data[0];
                    } else {
                        location.href = "index.html"
                    }
                }).catch(() => {
                    location.href = "index.html"
                });
            },
            logout() {
                yxt.http.delete("/auth/logout/2").then(({ data }) => {
                    if (data.success) {
                        location.href = "login.html"
                    } else {
                        this.$message.error("服务器繁忙，请稍候再试！");
                    }
                }).catch(() => {
                    this.$message.error("服务器繁忙，请稍候再试！");
                })
            },
            getHomeworkData() {
                yxt.http.get("homework/homeworkId/" + yxt.getUrlParam("id")).then(({ data }) => {
                    if (data.success) {
                        this.homework = data.queryResult.data[0];
                    }
                })
            },
            getHomeworkStudentData() {
                yxt.http.get("users/homeworkId/" + yxt.getUrlParam("id") + "/"
                    + this.pageData.currentPage + "/"
                    + this.pageData.pageSize + "?search="
                    + this.pageData.search)
                    .then(({ data }) => {
                        if (data.success) {
                            this.homeworkStudentList = data.queryResult.data;
                            this.pageData.pageTotal = data.queryResult.total;
                        }
                    })
            },
            formatScore(row) {
                let status = row.homeworkStudent.status;
                let totalScore = this.homework.totalScore;
                switch (status) {
                    case 0:
                        return "未交";
                        break;
                    case 1:
                        return "未批/" + totalScore;
                        break;
                    case 2:
                        return row.homeworkStudent.score + "/" + totalScore;
                        break;
                }
            },
            formatSubmitTime(row) {
                return row.homeworkStudent.status === 0 ? "-" : row.homeworkStudent.submitTime
            },
            formatCorrectCount(row) {
                return row.homeworkStudent.status === 0 ? "-" : row.homeworkStudent.correctCount
            },
            pageSizeChange(pageSize) {
                this.pageData.pageSize = pageSize;
            },
            currentChange(clickPage) {
                this.pageData.currentPage = clickPage;
            },
            showPreviewHomeworkList(obj) {
                let studentId = obj.homeworkStudent.studentId;
                let realName = obj.realName;
                yxt.http.get("resource/homeworkId/" + yxt.getUrlParam("id") + "/studentId/" + studentId).then(({ data }) => {
                    if (data.success) {
                        this.homeworkList = data.queryResult.data;
                        this.previewHomeworkVisible = true;
                        this.previewingStudentName = realName;
                        this.previewingStudentId = studentId;
                        this.homeworkScoreForm.score = obj.homeworkStudent.score;
                        this.homeworkScoreForm.message = obj.homeworkStudent.message;
                    } else {
                        this.$message.error(data.message);
                    }
                }).catch(() => {
                    this.$message.error("服务器繁忙，请稍候再试！")
                })
            },
            getResourceSrc(ext) {
                let extList = ['jpg', 'png', 'doc', 'ppt', 'pptx', 'mp4', 'pdf', 'xlsx', 'txt', 'zip']
                if (extList.includes(ext)) {
                    return "https://www.ketangpai.com/Public/Common/img/fileicon/file_ext_big_" + ext + ".png";
                }
                return "https://www.ketangpai.com/Public/Common/img/fileicon/file_ext_big_folder.png";
            },
            previewResourceData(resourceId, type, name) {
                if (type === 1) { // 文件类型是文件，打开文件预览页面
                    yxt.http.get("resource/resourceId/" + resourceId)
                        .then(({ data }) => {
                            if (data.success) {
                                let url = data.queryResult.data[0].location;
                                window.open("http://www.pava.run/preview/onlinePreview?url=" + encodeURIComponent(url))
                            } else {
                                this.$message.error(data.message);
                            }
                        })
                        .catch(() => {
                            this.$message.error("服务器繁忙，请稍候再试！")
                        })
                } else {
                    this.$message.error("服务器繁忙，请稍候再试！")
                }
            },
            postDownloadRequestToServer(resourceId) {
                yxt.http.get("resource/download/resourceId/" + resourceId, {
                    responseType: 'blob'
                }).then(resp => {
                    yxt.http.get("resource/resourceId/" + resourceId)
                        .then(({ data }) => {
                            if (data.success) {
                                let fileName = data.queryResult.data[0].name;
                                this.download(resp.data, fileName);
                            } else {
                                this.$message.error(data.message);
                            }
                        })
                        .catch(() => {
                            this.$message.error("服务器繁忙，请稍候再试！")
                        })
                }).catch("服务器繁忙，请稍候再试！")
            },
            download(data, fileName) {
                let url = window.URL.createObjectURL(data)
                let link = document.createElement('a')
                link.style.display = 'none'
                link.href = url
                link.download = fileName // 设置文件名
                document.body.appendChild(link)
                link.click()
                window.URL.revokeObjectURL(link.href);
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        yxt.http.put("homework/homeworkId/" + yxt.getUrlParam("id") + "/studentId/" + this.previewingStudentId, this.homeworkScoreForm).then(({ data }) => {
                            if (data.success) {
                                this.$message.success(data.message);
                                this.clear();
                                this.getHomeworkStudentData();
                            } else {
                                this.$message.error(data.message);
                            }
                        }).catch(() => {
                            this.$message.error("服务器繁忙，请稍候再试！")
                        })
                    }
                });
            },
            clear() {
                this.previewHomeworkVisible = false;
                this.previewingStudentName = "";
                this.previewingStudentId = -1;
                this.homeworkScoreForm = {}
            },
            getUnreadMessageCount() {
                yxt.http.get("message/unreadCount/userId/" + this.user.id).then(({ data }) => {
                    if (data.success) {
                        this.unreadMessageCount = data.queryResult.data[0];
                    }
                })
            },
            initWebSocket() {
                this.websocket = new WebSocket('ws://127.0.0.1:8888/message/' + this.user.id + '/unreadCount');
                this.websocket.onmessage = this.setOnmessageMessage;
            },
            setOnmessageMessage({ data }) {
                this.unreadMessageCount = JSON.parse(data);
            }
        },
        created() {
            this.verify();
            this.getHomeworkData();
            this.getHomeworkStudentData();
            yxt.viewCount();
        },
        computed: {
            totalUnreadCount() {
                let totalCount = 0;
                for (let key in this.unreadMessageCount) {
                    totalCount += this.unreadMessageCount[key];
                }
                return totalCount;
            }
        },
        watch: {
            pageData: {
                deep: true,
                handler() {
                    this.getHomeworkStudentData();
                }
            }
        }
    })
</script>

</html>