<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.13.2/theme-chalk/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/yxt.css">
    <style>
        .el-main {
            padding: 20px;
        }

        .el-card__header {
            padding: 0;
            border-bottom: 1px solid #EBEEF5;
            box-sizing: border-box;
        }

        .el-card__body {
            padding: 0;
        }
    </style>
    <title>益学堂-简单好用的互动课堂管理工具</title>
</head>

<body>
    <div id="app">
        <el-container>
            <!-- 头部 -->
            <el-header>
                <!-- 导航栏：logo、菜单功能、头像下拉菜单 -->
                <el-row>
                    <!-- logo -->
                    <el-col :span="4">
                        <!-- <el-image style="margin-top: 10px;" src="./images/logo_blue.png" fit="contain"></el-image> -->
                        <el-image>
                            <div slot="error" class="image-slot">
                                <div class="header-logo">LOGO</div>
                                <!-- <el-image src="./images/logo.png" style="width: 192px; height: 48px;"></el-image> -->
                            </div>
                        </el-image>
                    </el-col>
                    <!-- 菜单功能 -->
                    <el-col :span="16">
                        <el-menu :default-active="activeIndex" mode="horizontal" @select="handleSelect">
                            <el-menu-item index="1" class="header-text">课堂</el-menu-item>
                            <el-menu-item index="2" class="header-text">精品课程</el-menu-item>
                            <el-menu-item index="3" class="header-text">本校课程</el-menu-item>
                            <el-menu-item index="4" class="header-text">我的精品</el-menu-item>
                        </el-menu>
                    </el-col>
                    <!-- 头像下拉菜单 -->
                    <el-col :span="4">
                        <el-menu class="el-menu-demo" mode="horizontal">
                            <el-menu-item>
                                <i class="el-icon-bell"></i>
                                <el-badge is-dot class="item"></el-badge>
                            </el-menu-item>
                            <el-submenu>
                                <template slot="title">
                                    <span v-text="user.username" style="color: black; margin: 20px 10px;">用户名</span>
                                    <el-avatar size="large" :src="user.avatar">
                                    </el-avatar>
                                </template>
                                <el-menu-item @click="location.href = 'user/setting.html' "><i
                                        class="el-icon-setting"></i> 个人设置</el-menu-item>
                                <el-menu-item @click="logout()"><i class="fa fa-sign-out"
                                        style="margin-left: 6px; margin-right: 8px;"></i> <span>退出账户</span>
                                </el-menu-item>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-header>
            <!-- 中间 -->
            <el-main style="margin-top: 40px;">
                <!-- 置顶课程 -->
                <el-row>
                    <el-col :span="2" style="float: left;">
                        <el-button type="text">
                            <span style="font-size: medium; color: rgb(0, 0, 0);">置顶课程</span>
                        </el-button>
                    </el-col>
                    </el-col>
                    <el-col :span="4" style="float: right;">
                        <i class="el-icon-files"></i>
                        <el-button type="text" @click="filedCourseListVisable = true">
                            <span style="font-size: medium;color: rgb(134, 133, 133);">归档管理</span>
                        </el-button>
                        <el-button type="primary" v-if="user.isTeacher" @click="addCourseFormVisable = true">创建课程
                        </el-button>
                        <el-button type="primary" v-else @click="joinCourse()">加入课程</el-button>
                    </el-col>
                </el-row>
                <!-- 分割线 -->
                <el-divider><i class="el-icon-house"></i></el-divider>
                <!-- 课程列表 -->
                <el-row type="flex" justify="start" :gutter="20" style="margin: 40px;"
                    v-for="(row, index) of topCourseListRows" :key="index">
                    <el-col :span="5" v-for="(topCourse, innerindex) of row" :key="topCourse.id">
                        <el-card class="course-card">
                            <div slot="header" :style="{backgroundImage:'url(' + topCourse.cpic + ')'}">
                                <strong>
                                    <el-row>
                                        <el-tag effect="plain" type="info" style="float: right;">
                                            <span v-text="user.isTeacher ? '教' : '学'">学</span>
                                        </el-tag>
                                    </el-row>
                                    <el-row>
                                        <el-link :underline="false" type="info"
                                            style="float: left; font-size: larger; padding: 0px 0px 5px 15px; color: rgb(252, 249, 249);">
                                            <span v-text="topCourse.cname">Web编程与设计</span></el-link>
                                    </el-row>
                                    <el-row><span v-text="topCourse.clazz"
                                            style="float: left; font-size: large; padding: 0 15px; color: rgb(252, 249, 249);">17网工5班</span>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12" style="float: left;" class="invite-code">
                                            <p style="background: rgba(255,255,255,.2); line-height: 10px"><i
                                                    class="el-icon-document"></i>加课码：<span
                                                    v-text="topCourse.ccode">aWlHpr</span></p>
                                        </el-col>
                                        <el-col :span="8" style="float: right; color: grey; font-size: 8px;">
                                            <span v-text="topCourse.schoolYear">2020-2021</span> <br />
                                            <span v-text="topCourse.semester">第一学期</span>
                                        </el-col>
                                    </el-row>
                                </strong>
                            </div>
                            <div style="margin: 10px; font-size: 14px; color: black;"> 近期作业 </div>
                            <el-link type="info" style="float: left; margin-left: 15px;"> 第一次实验报告 </el-link> <br>
                            <el-link type="info" style="float: left; margin: 15px;"> 第二次实验报告 </el-link> <br>
                            <el-divider></el-divider>
                            <div class="bottom">
                                <el-row>
                                    <el-col :span="8" style="float: left; width: 30%;">
                                        <el-row v-if="user.isTeacher">
                                            <span style="font-size: smaller;">成员<span v-text="topCourse.scount"></span>人
                                        </el-row>
                                        <el-row v-else>
                                            <el-col :span="12">
                                                <el-avatar :src="topCourse.avatarUser.avatar" size="small">
                                                </el-avatar>
                                            </el-col>
                                            <el-col :span="12">
                                                <el-link :underline="false" type="primary"><span
                                                        v-text="topCourse.avatarUser.realName"></span></el-link>
                                            </el-col>
                                        </el-row>
                                    </el-col>
                                    <el-col :span="12" style="float: right; width: 40%;">
                                        <el-link :underline="false" type="info" @click="switchTop(topCourse.id)">取消置顶
                                        </el-link>
                                        <el-popover placement="bottom" width="150" trigger="click">
                                            <div style="margin: 5px; text-align: center;">
                                                <el-link :underline="false" type="info" style="font-size: medium;"
                                                    @click="switchIsFiled(topCourse.id)">
                                                    <i class="el-icon-files"></i>
                                                    <span>归档</span>
                                                </el-link>
                                            </div>
                                            <div style="margin: 5px; text-align: center;">
                                                <el-link :underline="false" type="info" style="font-size: medium;"
                                                    @click="showDelCourseDialog(topCourse.id)">
                                                    <i class="el-icon-delete"></i>
                                                    <span v-if="user.isTeacher">删除</span>
                                                    <span v-else>退课</span>
                                                </el-link>
                                            </div>
                                            <el-link :underline="false" type="primary" slot="reference">更多 <i
                                                    class="fa fa-info"></i>
                                            </el-link>
                                        </el-popover>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
                <!-- 其他课程 -->
                <el-row>
                    <el-col :span="2" style="float: left;"><strong>其他课程</strong></el-col>
                </el-row>
                <!-- 分割线 -->
                <el-divider><i class="el-icon-notebook-2"></i></el-divider>
                <!-- 课程列表 -->
                <el-row type="flex" justify="space-start" :gutter="20" style="margin: 40px;"
                    v-for="(row, index) of otherCourseListRows" :key="index">
                    <el-col :span="5" v-for="(otherCourse, innerindex) in row" :key="otherCourse.id">
                        <el-card class="course-card">
                            <div slot="header" :style="{backgroundImage:'url(' + otherCourse.cpic + ')'}">
                                <strong>
                                    <el-row>
                                        <el-tag effect="plain" type="info" style="float: right;">
                                            <span v-text="user.isTeacher ? '教' : '学'">学</span>
                                        </el-tag>
                                    </el-row>
                                    <el-row>
                                        <el-link :underline="false" type="info"
                                            style="float: left; font-size: larger; padding: 0px 0px 5px 15px; color: rgb(252, 249, 249);">
                                            <span v-text="otherCourse.cname">Web编程与设计</span></el-link>
                                    </el-row>
                                    <el-row><span v-text="otherCourse.clazz"
                                            style="float: left; font-size: large; padding: 0 15px; color: rgb(252, 249, 249);">17网工5班</span>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12" style="float: left;" class="invite-code">
                                            <p style="background: rgba(255,255,255,.2); line-height: 10px"><i
                                                    class="el-icon-document"></i>加课码：<span
                                                    v-text="otherCourse.ccode">aWlHpr</span></p>
                                        </el-col>
                                        <el-col :span="8" style="float: right; color: grey; font-size: 8px;">
                                            <span v-text="otherCourse.schoolYear">2020-2021</span> <br />
                                            <span v-text="otherCourse.semester">第一学期</span>
                                        </el-col>
                                    </el-row>
                                </strong>
                            </div>
                            <div style="margin: 10px; font-size: 14px; color: black;"> 近期作业 </div>
                            <el-link type="info" style="float: left; margin-left: 15px;"> 第一次实验报告 </el-link> <br>
                            <el-link type="info" style="float: left; margin: 15px;"> 第二次实验报告 </el-link> <br>
                            <el-divider></el-divider>
                            <div class="bottom">
                                <el-row>
                                    <el-col :span="8" style="float: left; width: 35%;">
                                        <el-row v-if="user.isTeacher">
                                            <span style="font-size: smaller;">成员<span
                                                    v-text="otherCourse.scount"></span>人
                                        </el-row>
                                        <el-row v-else>
                                            <el-col :span="12">
                                                <el-avatar :src="otherCourse.avatarUser.avatar" size="small">
                                                </el-avatar>
                                            </el-col>
                                            <el-col :span="12">
                                                <el-link :underline="false" type="primary"><span
                                                        v-text="otherCourse.avatarUser.realName"></span></el-link>
                                            </el-col>
                                        </el-row>
                                    </el-col>
                                    <el-col :span="12" style="float: right; width: 30%;">
                                        <el-link :underline="false" type="info" @click="switchTop(otherCourse.id)">置顶
                                        </el-link>
                                        <el-popover placement="bottom" width="150" trigger="click">
                                            <div style="margin: 5px; text-align: center;">
                                                <el-link :underline="false" type="info" style="font-size: medium;"
                                                    @click="switchIsFiled(otherCourse.id)">
                                                    <i class="el-icon-files"></i>
                                                    <span>归档</span>
                                                </el-link>
                                            </div>
                                            <div style="margin: 5px; text-align: center;">
                                                <el-link :underline="false" type="info" style="font-size: medium;"
                                                @click="showDelCourseDialog(otherCourse.id)">
                                                <i class="el-icon-delete"></i>
                                                <span v-if="user.isTeacher">删除</span>
                                                <span v-else>退课</span>
                                            </el-link>
                                            </div>
                                            <el-link :underline="false" type="primary" slot="reference">更多 <i
                                                    class="fa fa-info"></i>
                                            </el-link>
                                        </el-popover>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
                <!-- 归档管理 -->
                <el-dialog title="归档管理" :visible.sync="filedCourseListVisable" center>
                    <el-row type="flex" justify="space-start" :gutter="20" style="margin: 40px;"
                        v-for="(row, index) of filedCourseListRows" :key="index">
                        <el-col :span="12" v-for="(filedCourse, innerindex) in row" :key="filedCourse.id">
                            <el-card style="height: 120px; width: 288px;">
                                <div slot="header" :style="{backgroundImage:'url(' + filedCourse.cpic + ')'}">
                                    <strong>
                                        <el-row>
                                            <el-tag effect="plain" type="info" style="float: right;">
                                                <span v-text="user.isTeacher ? '教' : '学'">学</span>
                                            </el-tag>
                                        </el-row>
                                        <el-row>
                                            <el-link :underline="false" type="info"
                                                style="float: left; font-size: larger; padding: 0px 0px 5px 10px; color: rgb(252, 249, 249); margin: 5px;">
                                                <span v-text="filedCourse.cname">Web编程与设计</span></el-link>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="12" style="float: left; margin: 5px;">
                                                <span style="font-size: small; color: #EBEEF5; margin-left: 10px;"
                                                    v-if="user.isTeacher">
                                                    成员：<span v-text="filedCourse.scount">0</span>人
                                                </span>
                                                <span style="font-size: small; color: #EBEEF5; margin-left: 10px;"
                                                    v-else>
                                                    老师：<span v-text="filedCourse.avatarUser.realName">Colin</span>
                                                </span>
                                            </el-col>
                                            <el-col :span="6" style="float: right; color: grey; font-size: 8px;">
                                                <span v-text="filedCourse.schoolYear">2020-2021</span> <br />
                                                <span v-text="filedCourse.semester">第一学期</span>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-popover placement="bottom" width="150" trigger="click">
                                                <div style="margin: 5px; text-align: center;">
                                                    <el-link :underline="false" type="info" style="font-size: medium;"
                                                        @click="switchIsFiled(filedCourse.id)">
                                                        <i class="el-icon-files"></i>
                                                        <span>恢复</span>
                                                    </el-link>
                                                </div>
                                                <div style="margin: 5px; text-align: center;">
                                                    <el-link :underline="false" type="info" style="font-size: medium;"
                                                        @click="showDelCourseDialog(filedCourse.id)">
                                                        <i class="el-icon-delete"></i>
                                                        <span v-if="user.isTeacher">删除</span>
                                                        <span v-else>退课</span>
                                                    </el-link>
                                                </div>
                                                <el-link :underline="false"
                                                    style="color: #fff; float: right; margin-right: 10px;"
                                                    slot="reference"><i class="fa fa-info"></i>
                                                </el-link>
                                            </el-popover>
                                        </el-row>
                                    </strong>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>
                </el-dialog>
                <!-- 创建课程 -->
                <el-dialog title="创建课程" :visible.sync="addCourseFormVisable" center width="30%">
                    <el-form :model="course" :rules="addCourseRule" ref="addCourseForm" hide-required-asterisk="true">
                        <el-form-item prop="name">
                            <el-input prefix-icon="el-icon-user" placeholder="请输入课程名称" v-model="course.name"
                                autocomplete="off" clearable></el-input>
                        </el-form-item>
                        <el-form-item prop="clazz">
                            <el-input prefix-icon="el-icon-user" placeholder="请输入班级名称" v-model="course.clazz"
                                autocomplete="off" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="选择学年" prop="schoolYear">
                            <el-select v-model="course.schoolYear" placeholder="请选择学年">
                                <el-option v-for="(schoolYear, index) in schoolYears" :key="index" :label="schoolYear"
                                    :value="schoolYear"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="选择学期" prop="semester">
                            <el-select v-model="course.semester" placeholder="请选择学期">
                                <el-option label="第一学期" value="第一学期"></el-option>
                                <el-option label="第二学期" value="第二学期"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-form>
                    <div slot="footer">
                        <el-row>
                            <el-button type="primary" @click="addCourse('addCourseForm')"
                                style="display: block; width: 100%;">创 建
                            </el-button>
                        </el-row>
                    </div>
                </el-dialog>
                <!-- 删除课程/退课 -->
                <el-dialog :title="user.isTeacher ? '确定要删除该课程吗？' : '确定要退课吗？'" :visible.sync="delCourseDialogVisable"
                    destory-on-close @close="password = ''" width="30%" center>
                    <el-form>
                        <el-form-item>
                            <el-input prefix-icon="el-icon-lock" type="password" placeholder="请输入登录密码校验"
                                v-model="password" autocomplete="off" show-password></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer">
                        <el-button @click="delCourseDialogVisable = false">取 消</el-button>
                        <el-button type="primary" @click="delCourse()">确 定</el-button>
                    </div>
                </el-dialog>
            </el-main>
            <!-- 底部 -->
            <el-footer>
                <el-row type="flex" justify="center">
                    <el-col :span="8"></el-col>
                    <el-col :span="8" push="1">
                        <el-menu mode="horizontal">
                            <el-menu-item>关于我们</el-menu-item>
                            <el-menu-item>联系我们</el-menu-item>
                            <el-menu-item>服务条款</el-menu-item>
                            <el-menu-item>浏览器下载</el-menu-item>
                            <el-menu-item>更新动态</el-menu-item>
                        </el-menu>
                    </el-col>
                    <el-col :span="8"></el-col>
                </el-row>
                <span class="foot-text">Copyright © 2020 yixuetang.com All Rights Reserved. </span>
            </el-footer>
        </el-container>
    </div>
</body>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.13.2/index.js"></script>
<script src="./js/common.js"></script>
<script src="./js/md5.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            activeIndex: '1',
            user: {
                id: -1
            },
            course: {},
            topCourseList: [],
            otherCourseList: [],
            filedCourseList: [],
            filedCourseListVisable: false,
            addCourseFormVisable: false,
            schoolYears: [
                "2017-2018",
                "2018-2019",
                "2019-2020",
                "2020-2021",
                "2021-2022"
            ],
            addCourseRule: {
                name: [
                    { required: true, message: '请输入课程名称', trigger: 'blur' }
                ],
                clazz: [
                    { required: true, message: '请输入班级名称', trigger: 'blur' }
                ],
                schoolYear: [
                    { required: true, message: '请选择学年', trigger: 'blur' }
                ],
                semester: [
                    { required: true, message: '请选择学期', trigger: 'blur' }
                ]
            },
            delCourseId: -1,
            password: "",
            delCourseDialogVisable: false,
            delCourseUser: {}
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            logout() {
                yxt.http.delete("/auth/logout/2").then(({ data }) => {
                    if (data.success) {
                        location.href = "login.html"
                    } else {
                        this.$message.error("服务器繁忙，请稍候再试！");
                    }
                }).catch(() => {
                    this.$message.error("服务器繁忙，请稍候再试！");
                })
            },
            getCourseData() {
                yxt.http.get("/courses/userId/" + this.user.id).then(({ data }) => {
                    if (data.success) {
                        let courseList = data.queryResult.data;
                        this.topCourseList = courseList.filter(course => course.topNum > 0 && !course.isFiled);
                        this.otherCourseList = courseList.filter(course => course.topNum === 0 && !course.isFiled);
                        this.filedCourseList = courseList.filter(course => course.isFiled);
                    } else {
                        this.$message.error(data.message);
                    }
                }).catch(() => {
                    this.$message.error("服务器繁忙！")
                })
            },
            joinCourse() {
                this.$prompt('请输入加课码', '加入课程', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    inputPattern: /^[a-zA-Z]{6}$/,
                    inputErrorMessage: '加课码格式不正确'
                }).then(({ value }) => {
                    yxt.http.post("/courses/id/" + this.user.id + "/" + value).then(({ data }) => {
                        if (data.success) {
                            this.$message.success(data.message);
                        } else {
                            this.$message.error(data.message);
                        }
                    }).catch(() => {
                        this.$message.error("服务器繁忙，请稍候再试！")
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消加入课程'
                    });
                });
            },
            addCourse(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        yxt.http.post("/courses/id/" + this.user.id, this.course).then(({ data }) => {
                            if (data.success) {
                                this.$message.success(data.message);
                                this.addCourseFormVisable = false;
                                this.getCourseData();
                            } else {
                                this.$message.error(data.message)
                            }
                        }).catch(() => {
                            this.$message.error("服务器繁忙，请稍候再试！")
                        });
                    }
                });
            },
            switchTop(courseId) {
                yxt.http.put("/courses/topNum/id/" + courseId + "/" + this.user.id).then(({ data }) => {
                    if (data.success) {
                        this.$message.success(data.message);
                        this.getCourseData();
                    } else {
                        this.$message.error(data.message);
                    }
                }).catch(() => {
                    this.$message.error("服务器繁忙，请稍候再试一次！")
                })
            },
            switchIsFiled(courseId) {
                yxt.http.put("/courses/isFiled/id/" + courseId + "/" + this.user.id).then(({ data }) => {
                    if (data.success) {
                        this.$message.success(data.message);
                        this.getCourseData();
                    } else {
                        this.$message.error(data.message);
                    }
                }).catch(() => {
                    this.$message.error("服务器繁忙，请稍候再试一次！");
                })
            },
            showDelCourseDialog(courseId) {
                this.delCourseId = courseId;
                this.delCourseDialogVisable = true;
            },
            delCourse() {
                this.delCourseUser = {
                    userId: this.user.id,
                    password: hex_md5(this.password)
                }
                yxt.http.delete("/courses/id/" + this.delCourseId, {
                    data: this.delCourseUser
                }).then(({ data }) => {
                    if (data.success) {
                        this.$message.success(data.message);
                        this.delCourseDialogVisable = false;
                        this.getCourseData();
                    } else {
                        this.$message.error(data.message);
                    }
                }).catch(() => {
                    this.$message.error("服务器繁忙，请稍候再试！")
                });
            }
        },
        created() {
            yxt.http.get("/auth/verify/2").then(({ data }) => {
                if (data.success) {
                    this.user = data.queryResult.data[0];
                    this.getCourseData();
                } else {
                    location.href = "index.html"
                }
            }).catch(() => {
                location.href = "index.html"
            });
        },
        computed: {
            topCourseListRows() {
                const topCourseListRows = [];
                this.topCourseList.forEach((topCourse, index) => {
                    const row = Math.floor(index / 5);
                    if (!topCourseListRows[row]) {
                        topCourseListRows[row] = [];
                    }
                    topCourseListRows[row].push(topCourse);
                })
                return topCourseListRows;
            },
            otherCourseListRows() {
                const otherCourseListRows = [];
                this.otherCourseList.forEach((otherCourse, index) => {
                    const row = Math.floor(index / 5);
                    if (!otherCourseListRows[row]) {
                        otherCourseListRows[row] = [];
                    }
                    otherCourseListRows[row].push(otherCourse);
                })
                return otherCourseListRows;
            },
            filedCourseListRows() {
                const filedCourseListRows = [];
                this.filedCourseList.forEach((filedCourse, index) => {
                    const row = Math.floor(index / 2);
                    if (!filedCourseListRows[row]) {
                        filedCourseListRows[row] = [];
                    }
                    filedCourseListRows[row].push(filedCourse);
                })
                return filedCourseListRows;
            }
        },
    })
</script>

</html>