<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.13.2/theme-chalk/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/yxt.css">
    <style>
        .el-main {
            padding: 20px;
        }

        .el-card__header {
            padding: 0;
            border-bottom: 1px solid #EBEEF5;
            box-sizing: border-box;
        }

        .el-card__body {
            padding: 0;
        }
    </style>
    <title>益学堂-简单好用的互动课堂管理工具</title>
</head>

<body>
    <div id="app">
        <el-container>
            <!-- 头部 -->
            <el-header>
                <!-- 导航栏：logo、菜单功能、头像下拉菜单 -->
                <el-row>
                    <!-- logo -->
                    <el-col :span="4">
                        <!-- <el-image style="margin-top: 10px;" src="./images/logo_blue.png" fit="contain"></el-image> -->
                        <el-image>
                            <div slot="error" class="image-slot">
                                <div class="header-logo">LOGO</div>
                                <!-- <el-image src="./images/logo.png" style="width: 192px; height: 48px; margin: 10px;">
                                </el-image> -->
                            </div>
                        </el-image>
                    </el-col>
                    <!-- 菜单功能 -->
                    <el-col :span="16">
                        <el-menu mode="horizontal" @select="handleSelect">
                            <el-menu-item index="1" class="header-text" @click="location.href = './homePage.html'">课堂</el-menu-item>
                            <el-menu-item index="2" class="header-text">精品课程</el-menu-item>
                            <el-menu-item index="3" class="header-text">本校课程</el-menu-item>
                            <el-menu-item index="4" class="header-text">我的精品</el-menu-item>
                        </el-menu>
                    </el-col>
                    <!-- 头像下拉菜单 -->
                    <el-col :span="4">
                        <el-menu class="el-menu-demo" mode="horizontal">
                            <el-menu-item>
                                <i class="el-icon-bell"></i>
                                <el-badge is-dot class="item"></el-badge>
                            </el-menu-item>
                            <el-submenu>
                                <template slot="title">
                                    <span v-text="user.username" style="color: black; margin: 20px 10px;">用户名</span>
                                    <el-avatar size="large" :src="user.avatar">
                                    </el-avatar>
                                </template>
                                <el-menu-item @click="location.href = 'user/setting.html' "><i
                                        class="el-icon-setting"></i> 个人设置</el-menu-item>
                                <el-menu-item @click="logout()"><i class="fa fa-sign-out"
                                        style="margin-left: 6px; margin-right: 8px;"></i> <span>退出账户</span>
                                </el-menu-item>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-header>
            <!-- 中间 -->
            <el-main style="margin-top: 40px">
                <!-- 外边框 -->
                <div style="border: 1px solid #c8c8c8;width: 1020px;margin: auto">
                    <!-- 作业头部 -->
                    <div style="border-bottom: 1px solid #c8c8c8;width: 960px;height: 80px;padding: 30px">
                        <h2 style="text-align: left;margin: 0px 0px 25px 0px" v-text="homework.title">范例_第一次作业</h2>
                        <div>
                            <div style="float: left;text-align: left;background-color: #f2f2f2">
                                <div style="padding: 5px 20px 5px 20px">截止至
                                    <span v-text="homework.deadline">2020-11-07 22:17</span>
                                </div>
                            </div>
                            <div style="float: right">
                                <el-input v-model="pageData.search" suffix-icon="el-icon-search" placeholder="学号，姓名">
                                </el-input>
                            </div>
                        </div>
                    </div>
                    <!-- 作业列表 -->
                    <div style="border: 1px  #c8c8c8;width: 960px;height: auto; padding: 30px">
                        <el-table ref="multipleTable" :data="homeworkStudentList" tooltip-effect="dark"
                            style="width: 100%" :cell-style="nameStyle" style="height: auto;"
                            :default-sort="{prop: 'tsNo', order: 'ascending'}">
                            <el-table-column prop="tsNo" label="学号" sortable width="160">
                            </el-table-column>
                            <el-table-column prop="realName" label="姓名" sortable width="160">
                            </el-table-column>
                            <el-table-column prop="score" :formatter="formatScore" label="成绩" sortable width="120">
                            </el-table-column>
                            <el-table-column label="提交日期" prop="homeworkStudent.submitTime" align="center" sortable
                                width="160" :formatter="formatSubmitTime">
                            </el-table-column>
                            <el-table-column prop="homeworkStudent.correctCount" label="批阅次数" align="center"
                                :formatter="formatCorrectCount" sortable show-overflow-tooltip>
                            </el-table-column>
                            <el-table-column width="120">
                                <el-link type="primary" slot-scope="scope" v-if="scope.row.homeworkStudent.status===0">
                                    催交
                                </el-link>
                                <el-link type="primary" v-else>进入批阅</el-link>
                            </el-table-column>
                        </el-table>
                        <el-row>
                            <el-pagination @size-change="pageSizeChange" @current-change="currentChange"
                                :current-page="pageData.currentPage" :page-sizes="[5, 10, 15, 20]"
                                :page-size="pageData.pageSize" layout="total, sizes, prev, pager, next, jumper"
                                :total="pageData.pageTotal" style="float: left; margin-top: 25px"></el-pagination>
                        </el-row>
                    </div>
                </div>
            </el-main>
            <!-- 底部 -->
            <el-footer>
                <el-row type="flex" justify="center">
                    <el-col :span="8"></el-col>
                    <el-col :span="8" push="1">
                        <el-menu mode="horizontal">
                            <el-menu-item>关于我们</el-menu-item>
                            <el-menu-item>联系我们</el-menu-item>
                            <el-menu-item>服务条款</el-menu-item>
                            <el-menu-item>浏览器下载</el-menu-item>
                            <el-menu-item>更新动态</el-menu-item>
                        </el-menu>
                    </el-col>
                    <el-col :span="8"></el-col>
                </el-row>
                <span class="foot-text">Copyright © 2020 yixuetang.com All Rights Reserved. </span>
            </el-footer>
        </el-container>
    </div>
</body>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.13.2/index.js"></script>
<script src="./js/common.js"></script>
<script src="./js/md5.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            user: {
                id: -1
            },
            homeworkStudentList: [],
            pageData: {
                currentPage: 1,
                pageSize: 10,
                pageTotal: 4,
                search: ""
            },
            homework: {},
        },
        methods: {
            nameStyle(column) {
                if (column.columnIndex === 2) {
                    return "font-weight: bold";
                }
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            verify() {
                yxt.http.get("/auth/verify/2").then(({ data }) => {
                    if (data.success) {
                        this.user = data.queryResult.data[0];
                    } else {
                        location.href = "index.html"
                    }
                }).catch(() => {
                    location.href = "index.html"
                });
            },
            logout() {
                yxt.http.delete("/auth/logout/2").then(({ data }) => {
                    if (data.success) {
                        location.href = "login.html"
                    } else {
                        this.$message.error("服务器繁忙，请稍候再试！");
                    }
                }).catch(() => {
                    this.$message.error("服务器繁忙，请稍候再试！");
                })
            },
            getHomeworkData() {
                yxt.http.get("homework/homeworkId/" + yxt.getUrlParam("id")).then(({ data }) => {
                    if (data.success) {
                        this.homework = data.queryResult.data[0];
                    }
                })
            },
            getHomeworkStudentData() {
                yxt.http.get("users/homeworkId/" + yxt.getUrlParam("id") + "/"
                    + this.pageData.currentPage + "/"
                    + this.pageData.pageSize + "?search="
                    + this.pageData.search)
                    .then(({ data }) => {
                        if (data.success) {
                            this.homeworkStudentList = data.queryResult.data;
                            this.pageData.pageTotal = data.queryResult.total;
                        }
                    })
            },
            formatScore(row) {
                let status = row.homeworkStudent.status;
                let totalScore = this.homework.totalScore;
                switch (status) {
                    case 0:
                        return "未交";
                        break;
                    case 1:
                        return "未批/" + totalScore;
                        break;
                    case 2:
                        return row.homeworkStudent.score + "/" + totalScore;
                        break;
                }
            },
            formatSubmitTime(row) {
                return row.homeworkStudent.status === 0 ? "-" : row.homeworkStudent.submitTime
            },
            formatCorrectCount(row) {
                return row.homeworkStudent.status === 0 ? "-" : row.homeworkStudent.correctCount
            },
            pageSizeChange(pageSize) {
                this.pageData.pageSize = pageSize;
            },
            currentChange(clickPage) {
                this.pageData.currentPage = clickPage;
            },
        },
        created() {
            this.verify();
            this.getHomeworkData();
            this.getHomeworkStudentData();
        },
        watch: {
			pageData: {
				deep: true,
				handler() {
					this.getHomeworkStudentData();
				}
			}
		},
    })
</script>

</html>