<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.13.2/theme-chalk/index.css">
    <link rel="stylesheet" href="css/yxt.css">
    <title>登录</title>
    <style>
        body {
            background: url("https://static001.geekbang.org/static/account/img/bg.861423e.jpg");
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- 登录表单 -->
        <el-dialog visible="true" width="30%" center @close="history.back(-1)">
            <!-- 头部 -->
            <div slot="title" class="dialog-title">
                <h2 v-show="loginType === 1">账号登录</h2>
                <h2 v-show="loginType === 2">邮箱登录</h2>
                <h2 v-show="loginType === 3">手机号登录</h2>
            </div>
            <!-- 中间 -->
            <!-- 账号登录表单 -->
            <el-form :model="user" :rules="loginRule" ref="loginForm" v-show="loginType === 1">
                <el-form-item prop="username">
                    <el-input prefix-icon="el-icon-user" placeholder="请输入用户名" v-model="user.username" autocomplete="off"
                        clearable></el-input>
                </el-form-item>
                <el-form-item prop="password">
                    <el-input prefix-icon="el-icon-lock" type="password" placeholder="请输入密码" v-model="user.password"
                        autocomplete="off" show-password></el-input>
                </el-form-item>
                <el-checkbox label="记住我" style="float: left;" v-model="user.rememberMe"></el-checkbox>
                <el-link type="primary" style="float: right;" :underline="false">忘记密码？</el-link>
            </el-form>
            <!-- 邮箱登录表单 -->
            <el-form :model="user" :rules="loginRule" ref="loginForm" v-show="loginType === 2">
                <el-form-item prop="email">
                    <el-input prefix-icon="el-icon-postcard" placeholder="请输入邮箱地址" v-model="user.email"
                        autocomplete="off" clearable>
                    </el-input>
                </el-form-item>
                <el-form-item>
                    <el-row>
                        <el-col :span="12">
                            <el-input prefix-icon="el-icon-document" placeholder="请输入验证码" v-model="code"
                                autocomplete="off" clearable></el-input>
                        </el-col>
                        <el-col :span="12">
                            <el-button type="primary" style="float: right;" @click="sendCode()" :disabled="checkEmail()"
                                v-if="!isSendingCode">
                                发送验证码
                            </el-button>
                            <el-button disabled style="float: right;" v-else>
                                <span v-text="times + 's后重新发送'"></span>
                            </el-button>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-checkbox label="记住我" style="float: left;" v-model="user.rememberMe"></el-checkbox>
                <el-link type="primary" style="float: right;" :underline="false" v-show="loginType === 1">忘记密码？
                </el-link>
            </el-form>
            <!-- 手机号登录表单 -->
            <el-form :model="user" :rules="loginRule" ref="loginForm" v-show="loginType == 3">
                <el-form-item prop="phone">
                    <el-input prefix-icon="el-icon-postcard" placeholder="请输入手机号" v-model="user.phone"
                        autocomplete="off" clearable>
                        <template slot="prepend">+86</template>
                    </el-input>
                </el-form-item>
                <el-form-item>
                    <el-row>
                        <el-col :span="12">
                            <el-input prefix-icon="el-icon-document" placeholder="请输入验证码" v-model="code"
                                autocomplete="off" clearable></el-input>
                        </el-col>
                        <el-col :span="12">
                            <el-button type="primary" style="float: right;" @click="sendCode()" :disabled="checkPhone()"
                                v-if="!isSendingCode">
                                发送验证码
                            </el-button>
                            <el-button disabled style="float: right;" v-else>
                                <span v-text="times + 's后重新发送'"></span>
                            </el-button>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-checkbox label="记住我" style="float: left;" v-model="user.rememberMe"></el-checkbox>
                <el-link type="primary" style="float: right;" :underline="false" v-show="loginType === 1">忘记密码？
                </el-link>
            </el-form>
            <!-- 底部 -->
            <div slot="footer" class="dialog-footer">
                <el-row style="margin: 25px 0;">
                    <el-button type="primary" @click="login('loginForm')" style="display: block; width: 100%;">登 录
                    </el-button>
                </el-row>
                <el-row>
                    <el-col :span="12" style="float: left;">
                        <el-link type="primary" :underline="false" @click="loginType = 1" v-show="loginType != 1"
                            class="login-type-margin-lr">账号登录
                        </el-link>
                        <el-link type="primary" :underline="false" @click="loginType = 2" v-show="loginType != 2"
                            class="login-type-margin-lr">邮箱登录
                        </el-link>
                        <el-link type="primary" :underline="false" @click="loginType = 3" v-show="loginType != 3"
                            class="login-type-margin-lr">
                            手机号登录</el-link>
                    </el-col>
                    <el-col :span="12" style="float: right;"><span style="font-size: small;">还没有账号？</span>
                        <el-link type="primary" href="register.html" :underline="false">去注册</el-link>
                    </el-col>
                </el-row>
            </div>
        </el-dialog>
    </div>
</body>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.13.2/index.js"></script>
<script src="./js/md5.js"></script>
<script src="./js/common.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            user: {
                username: "",
                password: "",
                email: "",
                phone: "",
                rememberMe: true
            },
            code: "",
            isSendingCode: false,
            times: 60,
            loginRule: {
                username: [{ required: true, message: '请输入用户名', trigger: 'blur' }],
                password: [{ required: true, message: '请输入密码', trigger: 'blur' }],
                email: [{ required: true, message: '请输入邮箱地址', trigger: 'blur' },
                { type: 'email', message: '请输入正确的邮箱地址', trigger: 'blur' }],
                phone: [{ required: true, message: '请输入手机号码', trigger: 'blur' }]
            },
            loginType: 1, // 登录方式 1账号登录 2邮箱登录 3手机号登录
            loginUser: {}
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            checkEmail() {
                let regEmail = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                return !regEmail.test(this.user.email);
            },
            checkPhone() {
                let regPhone = /^1[3|4|5|7|8][0-9]{9}$/;
                return !regPhone.test(this.user.phone);
            },
            sendCode() {
                // 设置计时器，60s后用户可以重新点击发送验证码
                this.isSendingCode = true;
                this.times = 60;
                var _this = this;
                this.timer = setInterval(function () {
                    _this.times--;
                    if (_this.times === 0) {
                        _this.isSendingCode = false;
                        clearInterval(_this.timer)
                    }
                }, 1000);
                // 调用后台接口发送验证码
                let sendType = this.loginType === 2 ? 2 : 1
                yxt.http.post("/users/code/" + sendType + "/1", this.user).then(({ data }) => {
                    if (data.success) {
                        this.$message.success(data.message);
                    } else {
                        this.$message.error(data.message);
                        this.isSendingCode = false;
                    }
                })
            },
            login(formName) {
                // 校验通过
                if (this.loginType === 1) {
                    // 账号登录
                    this.loginUser = {
                        username: this.user.username,
                        password: hex_md5(this.user.password),
                        rememberMe: this.user.rememberMe
                    }
                } else if (this.loginType === 2) {
                    if (!/^\d{6}$/.test(this.code)) { // 验证码为6位数字
                        this.$message.error("请输入正确的验证码！");
                    } else {
                        // 调用后台接口完成登录逻辑校验
                        this.loginUser = {
                            email: this.user.email,
                            code: this.code,
                            rememberMe: this.user.rememberMe
                        }
                    }
                } else {
                    // 手机号登录
                    if (!/^\d{6}$/.test(this.code)) { // 验证码为6位数字
                        this.$message.error("请输入正确的验证码！");
                    } else {
                        // 调用后台接口完成登录逻辑校验
                        this.loginUser = {
                            phone: this.user.phone,
                            code: this.code,
                            rememberMe: this.user.rememberMe
                        }
                    }
                }

                yxt.http.post("/auth/login/2/" + this.loginType, this.loginUser).then(({ data }) => {
                    if (data.success) {
                        location.href = "homePage.html"
                    } else {
                        this.$message.error(data.message);
                    }
                }).catch(() => {
                    this.$message.error("服务器繁忙，请稍候再试！");
                })
            }
        }
    })
</script>

</html>