<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>公告详情</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.13.2/theme-chalk/index.css">
	<style>
		.box-card {
			width: 480px;
		}
		.add-dialog .el-dialog__body {
			padding-top: 0 !important;
		}
	</style>
</head>

<body>
	<div id="app">
		<el-menu :default-active="index" class="el-menu-demo" mode="horizontal">

			<el-menu-item style="float: left;">
				<el-button type="text" @click="location.href = 'courseDetail.html?id=' + notice.course.id">
					<i class="el-icon-back"></i></el-button>
				<el-button type="primary" round @click="location.href = 'courseDetail.html?id=' + notice.course.id">
					<span v-text="notice.course.cname">数据结构</span></el-button>
			</el-menu-item>


			<el-menu-item index="1" style="font-size: 20px;margin-left: 600px;">公告详情</el-menu-item>

			<el-menu-item style="float: right;">
				<el-dropdown trigger="click">
					<span class="el-dropdown-link" style="font-size: 15px;">
						<i class="el-icon-suitcase"></i>工具
					</span>
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item>论文查重</el-dropdown-item>
						<el-dropdown-item>学术存证</el-dropdown-item>
						<el-dropdown-item>邀请教师</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>

				<el-popover placement="bottom" title="通知信息:" width="200" trigger="click" content="暂无通知">
					<el-button slot="reference" @click="open" type="text" icon="el-icon-bell"
						style="padding-inline: 10px;"></el-button>
				</el-popover>

				<el-avatar :src="user.avatar"></el-avatar>
			</el-menu-item>
		</el-menu>

		<el-container style="width: 825px;margin: auto">
			<el-main style="margin-top: 30px">
				<el-card class="box-card" style="width: 800px;border-width: 2px;border-radius: 4px">
					<!-- 卡片头部header -->
					<div>
						<el-row>
							<h3 style="margin-left: 30px;margin-top: 0" v-text="notice.title">公告标题</h3>
						</el-row>
						<el-row style="height: 24px">
							<span style="margin-left: 30px;margin-top: 0;color: #A0A0A0;font-size: 12px" v-text="notice.updateTime">2020年11月21日 10:36</span>
							<span style="margin-left: 20px">
								<el-avatar :size="24" :src="user.avatar"></el-avatar>
							</span>
							<span style="color: #A0A0A0;font-size: 12px">CurtisCheng</span>
						</el-row>
						<el-row style="margin-top: 20px">
							<span style="margin-left: 30px;font-size: 14px;color: #303133" v-html="notice.content">如题所述 公告内容</span>
						</el-row>
						<el-row style="margin-top: 20px">
							<el-link style="margin-left: 30px" type="primary" :underline="false" @click="dialogTableVisible = true">
								<span v-text="notice.views">2</span>
								人已读
							</el-link>
							<el-link style="margin-left: 30px" type="primary" :underline="false">
								<span v-text="notice.commentCount">2</span>
								条评论
							</el-link>
						</el-row>
					</div>

					<!-- 已读/未读对话框 -->
					<div>
						<el-dialog title="已读/未读列表" :visible.sync="dialogTableVisible" class="add-dialog" width="30%">
							<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
								<el-menu-item index="1" @click="isReadUsersList()">
									已读（
									<span v-text="notice.readUsers.length">1</span>
									）
								</el-menu-item>
								<el-menu-item index="2" @click="isUnreadUsersList()">
									未读（
									<span v-text="notice.unreadUsers.length">24</span>
									）
								</el-menu-item>
							</el-menu>

							<el-table :data="readUsersTable" v-if="readUsersTableShow">
								<el-table-column width="110">
									<template slot-scope="scope">
										<el-avatar :src="scope.row.avatar"></el-avatar>
									</template>
								</el-table-column>
								<el-table-column property="realName" label="姓名"></el-table-column>
								<el-table-column property="tsNo" label="学号"></el-table-column>
							</el-table>

							<el-table :data="unreadUsersTable" v-if="unreadUsersTableShow">
								<el-table-column width="110">
									<template slot-scope="scope">
										<el-avatar :src="scope.row.avatar"></el-avatar>
									</template>
								</el-table-column>
								<el-table-column property="realName" label="姓名"></el-table-column>
								<el-table-column property="tsNo" label="学号"></el-table-column>
							</el-table>
						</el-dialog>
					</div>

					<el-row>
						<el-col :offset="1" :span="22">
							<el-divider></el-divider>
						</el-col>
					</el-row>
					<!-- 发布评论表单 -->
					<div>
						<el-row style="padding-left: 30px">
							<el-col :span="2">
								<el-avatar :size="36" :src="user.avatar"></el-avatar>
							</el-col>
							<el-col :span="22">
								<span style="color: #808080;font-size: 14px">点击添加评论...</span>
							</el-col>
						</el-row>
					</div>
					<el-row>
						<el-col :offset="1" :span="22">
							<el-divider></el-divider>
						</el-col>
					</el-row>
					<!-- 评论内容列表 -->
					<div id="comment-list">
						<div class="comment-block">
							<div>
								<el-row style="padding-left: 30px">
									<el-col :span="2">
										<el-avatar :size="36" :src="user.avatar"></el-avatar>
									</el-col>
									<el-col :span="22">
										<el-row>
											<span style="color: #2D2D2D;font-size: 14px">CurtisCheng</span>
											<span style="margin-left: 20px;color: #A9A9A9;font-size: 12px">2020年11月22日 18:12</span>
											<el-link style="float: right;margin-right: 30px" type="primary" :underline="false">
												<i class="el-icon-delete"></i>删除
											</el-link>
											<el-link style="float: right;margin-right: 20px" type="primary" :underline="false">
												<i class="el-icon-chat-dot-square"></i>回复
											</el-link>
										</el-row>
										<el-row>
											<p class="content" style="color: #2D2D2D;font-size: 14px"> 内容 123 Content</p>
										</el-row>
									</el-col>
								</el-row>
							</div>
							<el-row>
								<el-col :offset="1" :span="22">
									<el-divider></el-divider>
								</el-col>
							</el-row>
						</div>
						<div class="comment-block">
							<div>
								<el-row style="padding-left: 30px">
									<el-col :span="2">
										<el-avatar :size="36" :src="user.avatar"></el-avatar>
									</el-col>
									<el-col :span="22">
										<el-row>
											<span style="color: #2D2D2D;font-size: 14px">CurtisCheng</span>
											<span style="margin-left: 20px;color: #A9A9A9;font-size: 12px">2020年11月22日 18:20</span>
											<el-link style="float: right;margin-right: 30px" type="primary" :underline="false">
												<i class="el-icon-delete"></i>删除
											</el-link>
											<el-link style="float: right;margin-right: 20px" type="primary" :underline="false">
												<i class="el-icon-chat-dot-square"></i>回复
											</el-link>
										</el-row>
										<el-row>
											<p class="@" style="color: #2D2D2D;font-size: 14px">
												<span style="color: #409EFF">@CurtisCheng</span>
												回复 123 Content Reply
											</p>
										</el-row>
									</el-col>
								</el-row>
							</div>
							<el-row>
								<el-col :offset="1" :span="22">
									<el-divider></el-divider>
								</el-col>
							</el-row>
						</div>
					</div>
				</el-card>
			</el-main>
		</el-container>





	</div>
</body>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.13.2/index.js"></script>
<script src="./js/common.js"></script>

<script>
	new Vue({
		el: '#app',
		data: {
			user: {},
			notice: {},
			index: '1',
			activeName: '1',
			NoExitCourse: true,
			selectStudentConut: 0,
			search: '',
			teacherData: [
				{
					avator: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
					realName: 'qqweq',
					username: 'sasaf'
				}
			],
			studentData: [
				{
					avator: 'https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png',
					sno: '20145',
					realName: 'qqweq',
					username: 'sasaf',
					class: '12asda34',
					joinTime: '2as1d3a'
				},
				{
					avator: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
					sno: '2014asd5',
					realName: 'qqasdaweq',
					username: 'saasdsaf',
					class: '12asddsaaa34',
					joinTime: '2adsas1d3a'
				}
			],
			readUsersTable: [{
				avatar: "http://www.pava.run/group1/M00/00/00/rBAABV-jW1qALEibAAGxb3lI0NI550.jpg",
				realName: '王小虎',
				tsNo: '201703905XX'
			}, {
				avatar: "http://www.pava.run/group1/M00/00/00/rBAABV-jW1qALEibAAGxb3lI0NI550.jpg",
				realName: '王小虎',
				tsNo: '201703905XX'
			}],
			unreadUsersTable: [{
				avatar: "http://www.pava.run/group1/M00/00/00/rBAABV-jW1qALEibAAGxb3lI0NI550.jpg",
				realName: '王小虎',
				tsNo: '201703905XX'
			}, {
				avatar: "http://www.pava.run/group1/M00/00/00/rBAABV-jW1qALEibAAGxb3lI0NI550.jpg",
				realName: '王小虎',
				tsNo: '201703905XX'
			}],
			dialogTableVisible: false,
			readUsersTableShow: true,
			unreadUsersTableShow: false,
			activeIndex: '1',
		},
		methods: {
			isReadUsersList(){
				this.readUsersTableShow = true;
				this.unreadUsersTableShow = false;
			},
			isUnreadUsersList(){
				this.readUsersTableShow = false;
				this.unreadUsersTableShow = true;
			},
			getNoticeData() {
				yxt.http.get("/notice/noticeId/"+yxt.getUrlParam("id")).then(({ data }) => {
					if (data.success) {
						this.notice = data.queryResult.data[0];
						this.readUsersTable = this.notice.readUsers;
						this.unreadUsersTable = this.notice.unreadUsers;
					}else{
						this.$message.error("服务器繁忙，请稍候再次刷新页面！");
					}
				}).catch(()=>{
					this.$message.error("服务器繁忙，请稍候再次刷新页面！");
				});
			},
			verify() {
				yxt.http.get("/auth/verify/2").then(({ data }) => {
					if (data.success) {
						this.user = data.queryResult.data[0];
					} else {
						location.href = "../index.html"
					}
				}).catch(() => {
					location.href = "../index.html";
				});
			},
		},
		created() {
			this.verify();
			this.getNoticeData();
		},
	})
</script>

</html>